[2016-05-09 16:38] mjsduncan opened #1 "blender not connected"
after installing and building everything with hrtool and running "dev.sh", the blender head is static eventhough according to the ocbtree shell face tracking is working and emotions are being published for display.

this is blender version:

[code]

this is python path:

[code]

this is the error message from the blender shell:

[code]

[2016-05-09 16:40] bgoertzel commented on #1
Does your machine have a GPU?  Is is possible your machine just sucks too
badly for Blender to run such a complex model?

On Tue, May 10, 2016 at 12:38 AM, mjsduncan notifications@github.com
wrote:

##

Ben Goertzel, PhD
http://goertzel.org

"When in the body of a donkey, enjoy the taste of grass." -- Tibetan saying

[2016-05-09 16:45] demaris commented on #1
even with intel builtin or non proprietary drivers you should get 7-14 fps.

I think one time my intern Jonas had this happen and it got fixed by
installing the proprietary drivers instead of default nouveau drivers.

On Mon, May 9, 2016 at 11:40 AM, bgoertzel notifications@github.com wrote:

[2016-05-09 17:16] mjsduncan commented on #1
i have a fancy gpu and i installed the nvidia drivers but maybe they aren't set up correctly?

[2016-05-09 17:30] mjsduncan commented on #1
during the cogathon broadcast on the hanson "software" slack channel, Vytas Krisciunas thought it was a problem with python2.7 vs python3 paths, that's why i included mine...

[2016-05-10 02:09] wenwei-dev commented on #1
I'm wondering how did you install blender? Your blender version is higher than what we use.

2.71~git201406121839.169c95b-0irie1~trusty1

[2016-05-10 02:12] demaris commented on #1
I think Mark runs ok with 2.73,  I tried it once also to see if it solved
some problem (it didn't but it ran).

On Mon, May 9, 2016 at 9:09 PM, Wenwei notifications@github.com wrote:

[2016-05-10 03:16] mjsduncan commented on #1
i did have deb repository with  the newer version so i removed it and ran hrtools -i, now i have:

[code]

with the same git hash but i'm still getting identical error messages on the blender shell.
when i ran "make test" in the opencog repos in atomspace the backward chainer test failed and in opencog the restapi test failed.

[2016-05-10 03:20] mjsduncan commented on #1
i also get these errors in the ros shell but i didn't think they were relevant since i'm not hooked up to motors...:

[code]

[2016-05-12 23:19] mjsduncan commented on #1
maybe this is a problem with python paths?  the error traces back to my local 2.7 installation but i see above there is a ros installation also...

[2016-05-13 13:04] demaris commented on #1
I've seen and heard of people getting into trouble with virtual
environments, multiple python installs without VEs, and  pre-existing ros
installations.
Is your system a clean ubuntu 14.04 install or HEAD on top of a system with

On Thu, May 12, 2016 at 6:19 PM, mjsduncan notifications@github.com wrote:

[2016-05-15 02:40] mjsduncan commented on #1
i already had 2 versions of ros installed.  can someone post what the $PYTHONPATH looks like for a functioning HEAD installation?

[2016-05-16 00:16] mjsduncan opened #2 "no ~/.hr/aiml directory after HEAD installation"
concurrently with the blender fail in issue one, in the chatserver shell (tmux window 3) i get this error:
`sh: 1: cd: can't cd to /home/biocog/.hr/aiml/character_dev`
i have a .hr directory with megabytes of log files but no aiml directory.  is that a separate installation?

[2016-05-16 00:19] mjsduncan commented on #1
in the tmux SHELL window this happens:

[code]

[2016-05-16 09:23] wenwei-dev commented on #1
@mjsduncan It looks like you didn't source the ROS environment variables. That is why you get "Cannot load message" error. Try to run "source ~/hansonrobotics/HEAD/devel/setup.bash" before using rostopic.

[2016-05-16 09:28] wenwei-dev commented on #2
This error can be ignored. This PR #3 should fix this.

[2016-05-16 15:23] mjsduncan commented on #2
thanks,  new build just has blank screen in window three for dev.sh.  is that correct?

[2016-05-17 02:44] mjsduncan commented on #1
i uninstalled all the ros code and had it reinstalled through hrtool.  now in tmux 6 i get:

[code]

and then nothing, i have to ctrl-c to get a cursor.

here are the other errors i'm getting in shells:
from tmux 0

[code]

should it be looking in the hanson environment instead of local?

from tmux 2

[code]

from tmux 4

[code]

and this is what i get on the web monitor:

![image](https://cloud.g

[2016-05-17 03:07] wenwei-dev commented on #1
On Tue, May 17, 2016 at 10:44 AM, mjsduncan notifications@github.com
wrote:

[2016-05-17 03:19] vytasrgl commented on #1
Means that python3 cant find ROS in its path. Note that Blender and Motors Safety package use python3.

The following packages need to be installed: rospy, rospkg, blender_api_mgs (from source from the src directory)

Also need to make sure the messages files are accessible for python3. Usually packages would be generated in here, so make sure python3 path has it.
~/hansonrobotics/HEAD/devel/lib/p

[2016-05-17 03:21] vytasrgl commented on #1
Also ROS path should be in python3 path as well:
'/opt/ros/indigo/lib/python2.7/dist-packages'

[2016-05-17 15:26] mjsduncan commented on #1
@wenwei-dev : i've been keeping up to date using ./hrtool -UB regularly.
@vytasrgl : now we're getting somewhere!  i'm a total python noob, how do i install "from source from the src directory", and is the python3 path also $PYTHONPATH ?  should these additions go at the beginning or end?  thanks.

[2016-05-17 15:44] vytasrgl commented on #1
Installing from src

[code]

Make sure no other ROS installation beeing sourced on ~/.bashrc file.
Source the HR workspace:

`source ~/hansonrobotics/HEAD/devel/setup.bash`
Check your python path and see if the directories beeing added. They should be added by sourcing workspace

$PYTHONPATH is appended to default python path.; To check full python path:

[code]

[2016-05-17 23:42] mjsduncan commented on #1
ok, i did all this and am getting the same thing.  here is `print(sys.path)` in python 3, with paths to HEAD, ros, and my local/lib/python:

[code]

i did notice that python3 doesn't recognize my pyyaml module, although python does.

[code]

one other point i haven't mentioned:  the opencog repos in `hansonrobotics/opencog` are symbolic links to my existing repos. could this or the opencog python

[2016-05-18 01:40] vytasrgl commented on #1
Did you try:
sudo pip3 install pyyaml

On Wed, May 18, 2016 at 7:42 AM, mjsduncan notifications@github.com wrote:

[2016-05-18 08:53] mjsduncan commented on #1
yes, it says it's already up-to-date!

[2016-05-18 10:03] wenwei-dev commented on #1
It's still looking for pyyaml in python2 path. Can you find yaml in python3
path?

On my machine it's like this
python3
Python 3.4.3 (default, Oct 14 2015, 20:28:29)
[GCC 4.8.4] on linux
Type "help", "copyright", "credits" or "license" for more information.

On Wed, May 18, 2016 at 4:53 PM, mjsduncan notifications@github.com wrote:

[2016-05-18 18:29] mjsduncan commented on #1
ok i made some progress by uninstalling pyyaml with pip then installing it with pip3.  tmux 2 now shows activity but continually produces errors similar to this (with the same final line `AttributeError: 'module' object has no attribute 'evaAnimationManager'` as before:

[code]

and the web ui shows blender and "safety" are working now:
![screenshot from 2016-05-18 14 14 27](https://cloud.githubus

[2016-05-19 01:53] wenwei-dev commented on #1
Please show me if rospkg is installed correctly in python3. Try the
commands as below.

cd ~/hansonrobotics/HEAD
source devel/setup.bash
python3

On Thu, May 19, 2016 at 2:29 AM, mjsduncan notifications@github.com wrote:

[2016-05-19 03:33] mjsduncan commented on #1
[code]

[2016-05-21 04:41] mjsduncan commented on #1
it is a path issue!  if i put `/usr/local/lib/python3.4/dist-packages` in $PYTHONPATH before the python2.7 then blender works fine but face tracking and the web UIs don't work. and the facetracking shell gives a numpy import error.  any suggestions for solving this problem?

[2016-05-23 14:32] mjsduncan commented on #1
i finally fixed it using a dynamic PYTHONPATH entry as described at [http://stackoverflow.com/questions/19630123/should-pythonpath-have-directories-specific-to-python2-and-python3?rq=1]

[2016-05-23 14:32] #1 closed, assigned to nobody

[2016-05-24 06:02] linas commented on #1
I'm not sure how the shell scripts are set up here, but "normally" the blender stuff and the face tracker run in different shells (so that you can track the error messages individually).  And so, normally, you can set different python paths in each shell.  Why that is not being done here .. I don't know.  Perhaps teh shell scripts are buggy?

[2016-05-24 06:03] linas commented on #1
s/ you can set different python paths in each shell/different paths should be set in each shell/

[2016-05-26 10:30] wenwei-dev commented on #2
Do you still have error in this window? Or is the chatbot working? If it's working, we can close it now.

[2016-05-26 14:42] mjsduncan commented on #2
ok with current pull i get this in tmux 3:

[code]

then in a new shell if i `telnet localhost 8001` it connects but i get no prompt and any text gets me booted by server:

[code]

and this is what shows up in the chatbot shell:

[code]

so this means something still isn't working, correct?

[2016-05-26 15:03] mjsduncan opened #14 "blender, chatserver, and OCBTree error."
current pull builds with no errors.  blender head bobs and blinks, but blender tmux shell has this output:

[code]

and OCBTree crashes:

[code]

chatbot shell produces error described in issue #2 .
face tracking works fine.  i suspect a ros associated python path issue, possibly related to restapi unit test failure in [opencog/opencog](https://github.com/opencog/opencog/issues/2141)

[2016-05-26 15:07] mjsduncan commented on #2
since there seems to be a general failure connecting parts as described above,  if this fail looks like part of #14 we can close this issue.

[2016-05-26 15:27] mjsduncan commented on #14
here's a screen shot showing the webUI monitor page with errors:
![screenshot from 2016-05-26 11 21 13](https://cloud.githubusercontent.com/assets/5019970/15579847/631938e8-2334-11e6-8761-e7ebc7c60ce3.png)

[2016-05-27 01:46] wenwei-dev commented on #2
Telnet won't work. That is not the way to connect to chatbot server. You can try to use `HEAD/src/chatbot/src/server/client.py` to connect to the server, or use curl to send HTTP request.

I can see the chatbot server is running normally. So I close this issue.

[2016-05-27 01:46] #2 closed, assigned to nobody

[2016-05-27 04:56] mjsduncan commented on #14
apparently the chatbot is working, it's just not detected by UI.  same errors in blender and OCBTree for commit 3e5110.

[2016-05-27 05:16] wenwei-dev commented on #14
Hi @mjsduncan , webui monitoring is going to be updated.

I've fixed a bug in hrtool that used pip2 to install blender_api_msgs. You can pull the latest master and run `./hrtool -b` again. After that you should not see such error.

[2016-05-27 05:53] mjsduncan commented on #14
thanks @wenwei-dev  no issue in the blender shell now.  i did notice that in the rviz window the eye vectors point up when the the blender head eyes look down and vice versa.  horizontal motion matches.

[2016-05-27 05:55] linas commented on #14
Is the `"cog-evaluate!" "Expecting a number` thing still happening?  If so, I think I may know the cause:  I made some changes a few days ago that might be causing this.  Apparently, the unit tests didn't catch the issue.

[2016-05-27 06:50] wenwei-dev commented on #14
@linas The crash of btree was probably because the blender_api_msgs was not found.

[2016-06-01 10:33] linas commented on #14
Is the `"cog-evaluate!" "Expecting a number` thing still happening?  If so, I think I may know the cause:  I made some changes a few days ago that might be causing this.  Apparently, the unit tests didn't catch the issue.

[2016-06-02 16:45] mjsduncan commented on #14
@linas it's still happening for me.
from ocbtree window (tmux 4):

[code]

[2016-06-03 03:16] wenwei-dev commented on #14
The OpenCog stack used by HEAD is the forked version in hansonrobotics github domain. It's not updated very often. The last catch up was 22 days ago.

[2016-06-03 03:22] wenwei-dev commented on #14
The forked version works fine with the robot. But maybe we want to explore the latest OpenCog stack, then my solution of balancing the need of stability and fashion is using different hrtool.

[2016-06-03 03:57] bgoertzel commented on #14
Adding an option to hrtool would work...
On Jun 3, 2016 11:23 AM, "Wenwei" notifications@github.com wrote:

[2016-06-03 07:54] wenwei-dev commented on #14
I've added an option -d to switch to latest OpenCog stack.

`./hrtool -d`

[2016-06-03 09:46] leungmanhin opened #24 "Need to install Link Grammar"
Looks like we need to install link grammar as well otherwise some of the opencog nlp modules won't be installed correctly.

Download the latest stable version from http://www.abisource.com/downloads/link-grammar/
and follow the instructions in README will do, probably we should add this to hrtool

[2016-06-03 15:44] mjsduncan commented on #14
i've been using the current stack, i linked the HEAD opencog directories to my original opencog repos.  i mention this in the previous issue thread, i should have mentioned it again at the beginning of this thread.

[2016-06-06 02:03] wenwei-dev commented on #24
@leungmanhin Which component needs link grammar? We don't have OpenCog nlp running in HR stack as I know. I guess you meant in the near future when we integrate OpenCog chatbot/OpenPsi, we will need link grammar. I can create a branch and add the link grammar to hrtool for the coming OpenCog chatbot/OpenPsi.

[2016-06-06 02:29] amebel commented on #24
add `l` @ https://github.com/hansonrobotics/HEAD/blob/master/scripts/hrtool#L90

[2016-06-06 02:31] leungmanhin commented on #24
@wenwei-dev Yes that's what I meant, also relex (https://github.com/opencog/relex/tree/master/install-scripts) is needed for opencog nlp to work as well, would be nice if it can be added to hrtool too

[2016-06-06 02:57] wenwei-dev commented on #24
Both `octool -l` and `https://github.com/opencog/relex/tree/master/install-scripts` will install Link Grammar, but in different ways.

octool installs the current version (which is now 5.3.7), relex script installs the version of 5.3.3 and builds it with Java7. Which one should I use? I guess both can work.

[2016-06-06 03:01] leungmanhin commented on #24
I think using the current version in octool is better

[2016-06-06 04:07] wenwei-dev commented on #24
#26 This PR will install relex and the dependencies.

[2016-06-07 01:41] wenwei-dev opened #28 "Can't found tools.jar when building RelEx"
ant
Unable to locate tools.jar. Expected to find it in /usr/lib/jvm/java-7-openjdk-amd64/lib/tools.jar
Buildfile: /tmp/link-grammar-5.3.7/build/bindings/java/build.xml

build-subprojects:

init:
    [mkdir] Created dir: /tmp/link-grammar-5.3.7/build/bindings/java/bin
     [copy] Copying 5 files to /tmp/link-grammar-5.3.7/build/bindings/java/bin

build-project:
     [echo] linkgrammar: /tmp/link-gr

[2016-06-07 03:29] #28 closed, assigned to nobody

[2016-06-07 08:53] wenwei-dev opened #31 "RelEx build fails due to code encoding"
Buildfile: /root/hansonrobotics/opencog/relex/build.xml

build-subprojects:

init:

build-version:
     [echo] Building RelEx version 1.6.2
     [copy] Copying 1 file to /root/hansonrobotics/opencog/relex/src/java/relex

look-for-owl:
     [echo] Will not build (optional) OWL output format; org.semanticweb.owl classes not found.

look-for-opennlp:
     [echo] Could not find (optional) OpenNLP-1.5

[2016-06-07 08:55] #31 closed, assigned to nobody

[2016-06-07 15:01] mjsduncan commented on #14
ok the behavior tree doesn't crash and the robot tracks my face so i'm going to close this.

[2016-06-07 15:01] #14 closed, assigned to nobody

[2016-06-08 08:07] leungmanhin commented on #24
Thanks @wenwei-dev !

[2016-06-08 08:07] #24 closed, assigned to nobody

[2016-06-09 14:48] linas commented on #24
Wenwei,

The OpenCog AIML interpreter mostly works now, especially after fixing a bug (in atomspace) yesterday.  Theres 's still a bit more cleanup and grooming that needs to be done, but its ready to test, and there should be bug reports opened for the things that don't work right.  The behavior is slightly different than classic AIML: it doesn't always use the "best fit" rule, but instead random

[2016-06-09 17:27] demaris commented on #24
topicstar is used 3 times in the alice legacy chatbot aiml,  thatstar 41
times.

To be safe we could replace these answers  (one is something we've actually
heard,  How do you like your life in Hong Kong) not using these constructs,
or delete them altogether.   In general I stripped a lot of other star
response material so that people can't get the robot to say horrible things
by star substitution

[2016-06-09 17:42] bgoertzel commented on #24
I am in favor of ignoring topicstar and thatstar in the OpenCog AIML
system, and rephrasing any critical rules that use them, so as to not use
them...

I don't think these are terribly hard, but I'd rather minimize the amount
of AIML-ish hassle we need to deal within OpenCog ---- since over the next
6-12 months we are likely to get rid of this explicit AIML stuff from
OpenCog anyway; I see this as

[2016-06-10 04:13] linas commented on #24
The need to author and precisely craft dialogs will remain an important
requirement indefinitely -- the robot will, de-facto, get deployed in
various situations where canned dialogs will be a requirement.

Regarding the use of stars -- we now certainly have the capability to
restrict the star matching -- for example: accept a \* match only if \* is
one of this explicit set of words, or \* is a hap

[2016-06-10 08:11] wenwei-dev commented on #24
I'd like to run it on my work machine. I remember there are some manual steps to populate the database, and run the server. Those are not integrated. Maybe Man Hin @leungmanhin can help make a script to run the same thing that we ran Tue. night?

[2016-06-10 08:13] bgoertzel commented on #24
On Fri, Jun 10, 2016 at 12:13 PM, Linas Vepštas notifications@github.com
wrote:

Yes, agreed.  Whether AIML syntax in particular is the way we want to do
this authoring for OpenCog -- indefinitely -- is obviously a different
question, though..

Understood...

[2016-06-10 09:35] leungmanhin commented on #24
@wenwei-dev ok I'll do that

By the way for the aiml files, we have "generic" and "futurist" in `HEAD/src/chatbot/aiml/`, and for Sophia some of those in `character_dev/character_aiml/` will also be needed I believe, is there any more we need to load?

[2016-06-10 09:44] wenwei-dev commented on #24
Thanks.

No, those are all we use for Sophia. I don't know how you will load them
and store them. Those in character_dev are proprietary content, so should
not be put in public repository.

On Fri, Jun 10, 2016 at 5:35 PM, leungmanhin notifications@github.com
wrote:

[2016-06-10 15:17] linas commented on #24
Man Hin, please check with David DeMaris, I believe that not every file in "generic" is used; only some of them are loaded, according to some yaml or json config file somewhere.

[2016-06-10 15:46] bgoertzel commented on #24
I looked at the various AIML files in the character-dev, futurist and
generic aiml folders today...

A couple thoughts are

1)  The various files labeled "pickup" are not responses but rather
conversation-initiators.  They can just be fed into OpenCog as non-AIML
sentences, to be chosen by the fuzzy matcher rather than the AIML engine.

2) A bunch of the AIML rules are basically just triggered by

[2016-06-10 17:26] demaris commented on #24
If there is any algorithmic transformation of the aiml that would be useful
for a different kind of matching,
I have some facility by now with this 'beautiful soup' library.  So it's
pretty easy for me to do things like delete some construct
only in certain AIML elements.

It sounds like maybe you would like to eliminate the stars in the pattern
fields and just match on keywords?
That's probably p

[2016-06-15 17:04] linas commented on #24
Hi Ben,

On Fri, Jun 10, 2016 at 6:46 PM, bgoertzel notifications@github.com wrote:

Ooh, I really like some of these ideas, but others won't work as written.

First -- the fuzzy matcher only finds similar graphs -- it does NOT do
input-to-output re-writing. However, we possibly could use the fuzzy
matcher to do the matching of OpenPsi rules -- that is an interesting idea
that needs exploration an

[2016-06-15 17:14] linas commented on #24
Hi David,

Right now, the OpenCog AIML implementation is more or less fully and
completely compatible with standard AIML (with some asterisks **)  One
asterisk is some minor details I'll fix when back in Austin.  The other
asterisk is that all applicable AIML rules get a shot at running, and are
given proportional weights -- this differs from the AIML spec, which
mandates that only the last rule f

[2016-06-15 17:23] bgoertzel commented on #24
We are now using the fuzzy matcher for (star-free) pickup rules and it
seems to work OK...

At the moment Man Hin is serving as the "master brewer" of the dialogue
system, and I'm serving as the "reviewer /tester", soon to be augmented in
that role by Rui Ting ...

On Thu, Jun 16, 2016 at 1:14 AM, Linas Vepštas notifications@github.com
wrote:

##

Ben Goertzel, PhD
http://goertzel.org

Super-benev

[2016-06-15 20:55] demaris commented on #24
Well I think I got a relex build to work yesterday so I'm ready to start
shooting my foot or something.
Is this the best documentation, or is there some other starting point now
that integrates with HEAD, tts etc?
I have some problem that prevents me running webui cleanly but this sounds
like it's indepdendent.

https://github.com/hansonrobotics/opencog/blob/master/opencog/nlp/chatbot/README

On W

[2016-06-16 10:48] linas commented on #24
I don't think its tied into HEAD, yet, at least not in any stable branch; its up to Wenwei and Vytas to figure out when its stable enough and fast enough and usable enough to be used by default in HEAD.

[2016-06-16 10:53] bgoertzel commented on #24
There is an OpenCog chatbot that works with HEAD -- we tried it on the
robot yesterday -- but you will need to ask Man Hin how to run it and where
it is .. and he just left the office...

On Thu, Jun 16, 2016 at 6:48 PM, Linas Vepštas notifications@github.com
wrote:

##

Ben Goertzel, PhD
http://goertzel.org

Super-benevolent super-intelligence is the thought the Global Brain is
currently struggli

[2016-06-16 16:17] leungmanhin commented on #24
The chatbot is here: https://github.com/opencog/opencog/tree/master/opencog/nlp/chatbot-psi

It is not tied into HEAD yet, and depends on what you want to do, I can go through the steps that are required for running it

[2016-06-16 16:25] bgoertzel commented on #24
You have used it with HEAD though, right?  isn't that how you got it
running on the robot?

On Fri, Jun 17, 2016 at 12:17 AM, leungmanhin notifications@github.com
wrote:

##

Ben Goertzel, PhD
http://goertzel.org

Super-benevolent super-intelligence is the thought the Global Brain is
currently struggling to form...

[2016-06-16 16:37] leungmanhin commented on #24
Yes I have used it with HEAD and got it running on the robot, doing so requires disabling the current chatbot in HEAD, enabling the corresponding ros publisher/subscriber, starting relex-server, loading rules and content into atomspace etc. All these could/should be automated once we decide to use it by default on the robot

[2016-06-16 21:54] schue commented on #24
On Thu, Jun 9, 2016 at 11:13 PM, Linas Vepštas notifications@github.com
wrote:

Very promising progress!

##

Ean Schuessler, Brainfood Co-Founder
ean@brainfood.com
214-720-0700

[2016-06-16 21:55] demaris commented on #24
By 'enabling the corresponding ros pub/suber'  it sounds like one is
written and it would be started by the dev.sh script or some launch file.
But I don't see it in the chatbot source dir,  so maybe it's not checked in
yet?
I don't mind doing the steps by hand but don't want to rewrite anything
that exists and works.

On Thu, Jun 16, 2016 at 11:37 AM, leungmanhin notifications@github.com
wrote:

[2016-06-17 10:54] leungmanhin commented on #24
The pub/suber are in the ros-behavior-scripting repo, if you want to run it with HEAD, changes like these would be needed, for now:

[In ros-behavior-scripting](https://github.com/opencog/ros-behavior-scripting/compare/master...leungmanhin:chatbot-opencog)

[In HEAD](https://github.com/hansonrobotics/HEAD/compare/master...leungmanhin:chatbot-opencog)

[2016-07-08 08:55] N-zewge opened #63 "Error when you install vision dependencies"
md5sum: openface/celeb-classifier.nn4.small2.v1.pkl: No such file or directory
/opt/hansonrobotics/vision/openface/models/get-models.sh: line 74: [: 199a2c0d32fd0f22f14ad2d248280475: unary operator expected
- ERROR! openface/celeb-classifier.nn4.small2.v1.pkl md5sum did not match.
  - Expected: 199a2c0d32fd0f22f14ad2d248280475
  - Actual:
  - Please manually delete this file and try re-running thi

[2016-07-08 09:26] tesYolan commented on #63
@N-zewge Delete the /opt/hansonrobotics/openface/ folder and rerun ./hrtool -i

[2016-07-08 09:43] wenwei-dev commented on #63
This may happen when the upstream openface repository has been updated and/or the model. In order to remove this uncertainty, I think it's better to fork it to hansonrobotics, and add the corresponding model. Does it make sense?

[2016-07-08 09:51] tesYolan commented on #63
@wenwei-dev The error is most like to be a data corruption. As those models are gotten using the get_model.sh script in the openface models directory. May be to by pass those steps we could use wget commands to locations we own; but i don't think bypassing the checksum would have a good effect especially on the nn4.small, shape_predictor.dat.  as the code is dependent on those particular things do

[2016-07-08 09:58] wenwei-dev commented on #63
The error is because the model file openface/celeb-classifier.nn4.small2.v1.pkl was not downloaded. It's actually a bug of the get_model.sh as I looked at it. It only checks the existence of `openface/nn4.small2.v1.t7`, but not `openface/celeb-classifier.nn4.small2.v1.pkl`. However the first file was downloaded, but the second one was not, due to some network issue I guess. So the md5sum didn't fi

[2016-07-08 10:07] tesYolan commented on #63
@wenwei-dev It deletes it if it's lost as in https://github.com/cmusatyalab/openface/blob/master/models/get-models.sh#L50 I guess this error should be an indication to rerun hrtool -i again; Or incoporate something like https://github.com/hansonrobotics/HEAD/blob/656fa117721d9f5e8405d4a2acd26d42521c3191/scripts/hrtool#L241 into the code so that we skip unnecessary steps and only get things that ar

[2016-07-08 10:13] wenwei-dev commented on #63
Once it's deleted, it won't download it again even you run get-model.sh, unless you delete the directory (https://github.com/cmusatyalab/openface/blob/master/models/get-models.sh#L36).

[2016-07-08 10:17] tesYolan commented on #63
We need to suppress the error from blocking the rest of the installation then as it checks for a file that is the one that we need so it's not essential to make it pass. But that requires the we change their code and create a pull request; But the the easiest thing to do is just delete the folder and do it again or we need to modify their code. @wenwei-dev what do you think i need to do to close t

[2016-07-08 10:59] wenwei-dev commented on #63
I tend to like to fork it and fix the script. Let the error pass silently
is bad. We will have error when we run it and it's hard to find the cause
sometimes. And the advantage of forking is we have a full control of the
code.

Yeah, delete the file and do again when there is error may be the easiest
way.

On Friday, 8 July 2016, Tesfa Yohannes notifications@github.com wrote:

##

Sent from Gmail

[2016-07-08 11:15] tesYolan commented on #63
@wenwei-dev Okay; i forked it in https://github.com/hansonrobotics/openface i would update the conditions and close this issue afterwards/

[2016-07-08 12:03] #63 closed, assigned to nobody

[2016-07-08 12:06] tesYolan commented on #63
@wenwei-dev Forked fixed and closed. Though it won't happen now; People need to remove openface that has been already forked from cmu repo. It won't be an issue right?

[2016-07-10 08:13] wenwei-dev commented on #63
Thanks. There is a function in hrtool that do this kind of update. The
function name is "do_migrate". If people run "hrtool -u", it will be
called. So the remote url is updated to the new one. You can also call it
with "hrtool -m".

On Fri, Jul 8, 2016 at 8:06 PM, Tesfa Yohannes notifications@github.com
wrote:

[2016-07-19 04:46] amebel opened #96 "CMT tracker failing"
@tesYolan @yantrabuddhi starting the cmt-tracker with `./dev.sh --oc --cmt` , gives the following error .

![screenshot from 2016-07-19 12 41 20](https://cloud.githubusercontent.com/assets/2135577/16938870/b6d76672-4dae-11e6-9c52-a301f82fcf5f.png)

[2016-07-19 07:42] tesYolan commented on #96
@AmeBel You don't have classifier trained for use in the openface node. Thus when it queries; it get's nothing and thus fails with NoneType.  I would exit the node when the **No Classifier** information is outputed in to the console and close the issue. If in the mean time you want to work with the openface; you can train your own classifier.

[2016-07-19 08:10] #96 closed, assigned to nobody

[2016-07-19 08:17] tesYolan opened #98 "cmt tracker fails sporadically during stages when it's adding new users."
I haven't been able to easily reproduce the error easily. But scenario's that i have seen the code fail is when quick succession of new faces to the tracker have been added. I haven't been able to make the code fail in the gdb yet though. I am trying to make that happen.

[2016-07-27 20:27] linas opened #118 "instructions in main README fail if git not installed."
Following the instructions:

[code]

gives an error:

[code]

[2016-07-27 21:02] linas opened #119 "maybe-bug during install"
While running the command

[code]

I noticed the follwing error scroll by:

[code]

Given the success message at the end, maybe this is not a problem?

[2016-07-27 21:47] linas opened #120 "/tmp/hrtool -B weirdness"
When running `/tmp/hrtool -B`  I get this unexpected message:

[code]

I had previously done

[code]

so I would expect that the configured workspace really would be that, and not `/`

[2016-07-27 21:59] linas opened #121 "multiple build errors in HEAD/src/vision/"
Some of the build errors are potentially fatal:

[code]

Some are merely warnings:

[code]

[2016-07-27 23:13] linas commented on #121
errors in the face tracker:

[code]

[2016-07-27 23:15] linas commented on #121
in manyears:

[code]

[2016-07-27 23:24] linas opened #122 "failed to connect to server"
the README says: run `./dev.sh` but the script is actually in `./scripts/dev.sh`

Currently, when starting it, I get this message:

[code]

[2016-07-28 08:48] tesYolan commented on #121
All of the codes that you noticed the warning's are their own library which have been added to the HR repo. I don't think any person in HR have actually modified or touched those particular codes.  And if desired to suppress those particular errors it's better to take those repo out in to their own repository or work from the initial repo.

[2016-07-28 09:52] natnaelargaw commented on #121
I couldn't find any persuading reason that caused - potentially fatal error (long long timertype). the variable is long long and it can hold upto 17 digits. any way, addresssed it by replacing the previous multiplication statement by the its own final product and incorporated LOC to get rid of depreciated warnings . checkout nmpt branch.

[2016-07-28 10:29] wenwei-dev commented on #118
The order needs to adjust. So install the dependencies first (git will be installed), then get the source code.

[2016-07-28 10:31] wenwei-dev commented on #122
#126 This PR should fix it.

[2016-07-29 04:07] wenwei-dev commented on #120
Added to README  https://github.com/hansonrobotics/HEAD#workspace-warning+
If you are using orphan hrtool like /tmp/hrtool, you can ignore it.

[2016-07-29 16:07] linas opened #130 "More permission-denied errors"
Per last-nights email:

after a clean install, and creating a a password for user `ubuntu`, the install works but the build breaks with this error message:

[code]

The problem is that the directories `/opt/hansonrobotics`, and everything in `/opt` is owned by root, after the `/tmp/hrtool -i` step.

[2016-07-29 16:12] linas commented on #121
what does "any person in HR have actually modified or touched those particular codes" mean?  Someone wrote that code -- who?  You? Someone else?  Whoever wrote that code should also make sure that it builds cleanly ...

[2016-07-29 16:12] linas commented on #118
OK, seems to work now.

[2016-07-29 16:12] #118 closed, assigned to nobody

[2016-07-29 16:52] tesYolan commented on #121
What i was trying to get at is;
1. The ManyEar's code code is really (if i am not mistaken) the code that rests;

https://github.com/introlab/irl_audio/tree/master/manyears_ros
During development and integration they included the code to the HR repo for building the dependent packages that mandeep and naty are working on.
1. The ros_nmpt code is also really the code

https://github.com/geni-lab/ro

[2016-07-29 17:07] linas commented on #130
To be clear: in a normal linux system, the /opt directories are always owned by root, not by users, and so CppMT should not be trying to write log files into that location ... this is a bug in the CppMT code.

If the hrtool places directories in /opt owned by the user, instead of root, that's an hrtool bug...

[2016-07-29 17:12] linas commented on #120
why do you say "orphan"? Is it not supported? All of the rest of the README says that you _should_ use `/tmp/hrtool`, so I don't understand why its considered to be orphaned.  If this is not the right tool, then where can the correct tool be found?

[2016-07-29 17:14] tesYolan commented on #130
I think the https://github.com/hansonrobotics/HEAD/blob/master/scripts/hrtool#L446 should have handled it. It's not particular a problem of the CppMT. I think for whatever reason that step is being skipped when it's invoked.

[2016-07-29 17:24] linas commented on #121
On Fri, Jul 29, 2016 at 11:52 AM, Tesfa Yohannes notifications@github.com
wrote:

We should NOT be copying other peoples code into HEAD!  This is a time-bomb
waiting to explode.  IED - improvised explosive device, I think they call
them in the middle east. If we need to make changes to that code, we
could/should create a clone, e.g. to
https://github.com/hansonrobotics/irl_audio  Under no circumst

[2016-07-29 17:28] linas commented on #130
I'm re-installing from scratch, to see if it happens again. Its possible that this is due to bad procedure -- I had previously run `/tmp/hrtool -i` as root.

[2016-07-30 02:09] linas commented on #122
I've gotten ./dev.sh to work, finally.

[2016-07-30 02:09] #122 closed, assigned to nobody

[2016-07-30 02:09] linas commented on #130
The re-install from scratch seems to avoid this problem.

[2016-07-30 03:26] linas opened #131 "couldn't execute "telnet": no such file or directory"
It seems that hrtool does not install telnet as a pre-requisite:

running ./dev.sh --oc --cmt mostly runs, except that tty terminal 5 shows:

[code]

[2016-07-31 00:33] linas opened #132 "ImportError: No module named libxml2"
I beleive the needed pre-req libxml2 is not being installed by hrtool.  The error message on terminal 9, when running `./dev.sh --oc --cmt` its this:

[code]

[2016-07-31 12:14] tesYolan commented on #132
#133 Should fix it temporaryly by moving the image scraper to non executing section; i would update and close this issue once i include in hrtool the relevant scripts.

[2016-07-31 19:33] linas commented on #98
I just saw this failure:

[code]

[2016-07-31 19:37] linas commented on #132
Hmm.  now that I plugged in the webcam, the face tracker seems to work despite this eror: I get

[code]

[2016-08-03 06:05] wenwei-dev commented on #131
I think telnet is been installed on a Ubuntu Desktop version. But if you run ubuntu:14.04 docker image, it's not there.

#137 Should fix this.

[2016-08-03 06:10] wenwei-dev commented on #120
/tmp/hrtool is mainly used to clone the source code. It plays a role like deploying source code. After that you can discard it and use the one HEAD/scripts/hrtool. They are the same.

[2016-08-03 06:21] wenwei-dev commented on #130
Okay. I close it.

[2016-08-03 06:21] #130 closed, assigned to nobody

[2016-08-04 20:02] #131 closed, assigned to nobody

[2016-08-07 18:27] linas commented on #120
The readme still says "orphan" without explaining what that means, or how to work around the issue.  Maybe it should simply state that, after the `/tmp/hrtool -G` step, the next step would be to `rm /tmp/hrtool` and then after that, to use `<workspace>/scripts/hrtool -B`  -- this will avoid the error message entirely, and thus will not need a clarifying explanation.

[2016-08-10 08:35] wenwei-dev opened #154 "First chatbot response is gone"
In the webui, when you chat with the robot, the first response is not returned. From the chatbot log, the server returns the answer, but it's not shown on webui, and also not sent to tts.

[2016-08-11 02:32] linas opened #157 "OC chatbot issues"
Evaluation of the OC chatbot vs. stock AIML chatbot has revealed multiple issues.  This bug report will try to list all of them.
- [x]  The default bot parameters, here: https://github.com/opencog/opencog/blob/master/opencog/nlp/aiml/bot.scm are not the same as the HR bot paramters, here: https://github.com/hansonrobotics/HEAD/blob/master/src/chatbot/scripts/characters/sophia.properties
- [ ] Not

[2016-08-19 17:20] demaris opened #167 "system is confused about torch"
I installed by wget /tmp/hrtool,
then hrtool -i
then hrtool -GB.
I can see lines in console during the build saying [WARN] Skipping Torch installation.

When I run .dev/sh
/opt/hansonrobotics/vision/torch/install/bin/torch-activate: no such file or directory

[2016-08-19 17:38] demaris commented on #167
/opt/hansonrobotic/vision/torch/ exists, but not install/bin
I ran ./install.sh in that directory, and after a build process the install/bin exists and dev.sh env.sh works.

[2016-08-22 07:33] tesYolan commented on #167
Did it finish the installation without interruption? As that step is included in the https://github.com/hansonrobotics/HEAD/blob/master/scripts/hrtool#L272 . One possible reason is that it cloned the repo but interrupted the installation process before it has a chance to finish the installation process. I would look in to making sure that torch-activate is installed before skipping the installatio

[2016-09-06 17:22] linas commented on #119
Closing; the latest tools seem to work OK.

[2016-09-06 17:22] #119 closed, assigned to nobody

[2016-09-06 18:19] linas opened #201 "Warnings in icog_face_tracker"
There are numerous warnings in the icog face tracker. Please fix!

[code]

[2016-09-06 18:20] linas opened #202 "Warnings in many_ears"
There are numerous warnings in many-ears. Please fix!

[code]

[2016-09-06 18:22] linas opened #203 "Fatal ERROR in cmt"
The build of CMT fails, and the system is not usable as a result. Ther is a warning just before the fatal error:

[code]

After this comes the error:

[code]

[2016-09-06 20:23] linas commented on #120
OK, fixed the `README.md` file to say the right thing. Closing.

[2016-09-06 20:23] #120 closed, assigned to nobody

[2016-09-06 21:49] linas opened #204 "Wild gesticulation in blender"
This has been an issue for me, in blender, for many many months, and has not gone away:

When running blender, her head wildly shakes from side to side, turning her nec by more than 45 degrees, 2-3 times per second, constantly, without stopping. When she falls asleep, she continues to do this, but with her eyes closed.   Ther does not seem to be any button in the control GUI to stop this:  I tried

[2016-09-06 22:01] linas opened #205 "Xenial -- install issues"
While testing on xenial, I noticed that `cmake` is not installed, so that `hrtool -B` fails.

[2016-09-06 22:05] linas commented on #205
Never mind; fixed in @496fe839f456935c1ddd56453c65177d99e5f360

[2016-09-06 22:08] linas commented on #205
Re-opening -- there are more install issues -- binutils is not installed, bfd is not installed, boost is not installed.

[2016-09-06 22:19] linas commented on #205
bfd.h is provided by binutils-dev
boost requires libboost-dev
libboost-date-time-dev libboost-filesystem-dev
libboost-program-options-dev
libboost-regex-dev libboost-serialization-dev libboost-system-dev
libboost-thread-dev

[2016-09-06 22:25] linas commented on #205
Sigh. Also, python and guile are not installed. I don't understand how there can be this many breakages ...

[2016-09-06 23:25] wenwei-dev commented on #205
All the software we are using is aiming for Ubunu 14.04. If you want to run it on Xenial, for sure it won't work because nobody has tested it. At least blender won't work. It's a PPA version.

[2016-09-06 23:54] wenwei-dev commented on #203
One of the dependencies is not installed or successfully installed. You can try to reinstall vision tool dependencies using 'hrtool -r install_vision_deps', or simply rerun 'hrtool -i' to fix other potential missing file error.

[2016-09-07 04:38] linas opened #206 "hrtool fails to build cppmt if directory exists."
If the cppmt directory exists, then cppmt is not built.  This is because the build command is located inside of an if-test -- it should be moved out, with the following diff:

[code]

[2016-09-07 04:47] linas commented on #206
Well, and then after fixing this, the build of CMT fails, because FindOpenCV.cmake is missing.  as reported in bug hansonrobotics/CppMT#6

After fixing that bug, the build fails because hrtool never installed opencv-dev

[2016-09-07 10:07] wenwei-dev commented on #201
This package is obsoleted. So won't build it. #211

[2016-09-07 20:15] linas commented on #206
Pull request #213 should fix this issue.

[2016-09-07 21:36] linas commented on #204
Interesting -- it looks good, when running blender version 2.76  -- however, hrtool installs version 2.71 which looks really bad.

[2016-09-07 22:03] linas commented on #204
Using `ppa:thomas-schiex/blender` instead of `ppa:irie/blender` in hrtool installs a newer version of blender.  However, the newer version has errors:

[code]

This may be due to the fact that animations did not start.  Clikcing on StartAnimation gives

[code]

[2016-09-07 22:25] linas commented on #204
More errors, that might be causing this:

[code]

[2016-09-07 23:01] linas commented on #204
According to goolge and various mailing lists, numpy has not yet been ported to python 3.whatever.  We probably should not be using numpy with blender, if we want this stuff to work.

[2016-09-07 23:14] linas commented on #204
Stubbing out the entire contents of "artistic", so that the numpy error is avoided, does get blender to power up, and gets her to do keepalive motions. However, animations still won't work, I still get:

[code]

[2016-09-07 23:41] demaris commented on #204
I was about to try to use 1.76 in order to get radeon gpu acceleration.  I
seem to have some memory that you have to start blender and put some
startup script in the text editor or some fiddly thing like that.
I once got a newer version to work, will check back through emails and
slack for any insight.

On Wed, Sep 7, 2016 at 5:03 PM, Linas Vepštas notifications@github.com
wrote:

[2016-09-07 23:46] linas commented on #204
Ahh .. OK .. more debugging results:  the error message

[code]

really does mean that ROS is not attached to blender. Thus, when she comes up, she will just do breathing motions, just fine (after killing the numpy bug) . She will also smile, frown, etc.  **_But if you make her look left**_ (or right, or up or down...)  then her head motions will go completely wild. This happens on blender 2.78, a

[2016-09-07 23:53] linas commented on #203
A lot of `hrtool` is piped to /dev/null, so its basically impossible to debug.  Running hrtool just sometimes seems to hang for minutes at a time -- its doing something, but you can't tell what, and you can't tell if it got an error or not.  Can this be removed?

Basically, hrtool hits errors a lot, and I'm spending a lot of time trying to figure out why.

[2016-09-08 00:10] linas commented on #203
Closing.  Repeated cycles of `hrtool -i` and `hrtool -B` seems to have fixed this issue.

[2016-09-08 00:10] #203 closed, assigned to nobody

[2016-09-08 00:11] linas commented on #154
Yep. I see this too.

[2016-09-08 01:48] demaris commented on #204
I'm not sure how you're controlling the head, but I think I see what you're
talking about, and I can get it from the blender menu controls but also
from the webui puppeteering head control.  I think the latter has to be
going through ros and the ros command layer.
What it seems to me is different is that those commands used to move the
head and keep it there, but now something is resetting the hea

[2016-09-08 13:52] StrangeTcy opened #217 "apt-get failure in lxc"
I've tried to create an lxc container on my Ubuntu 16.04. It got created, and I started it and attached to it and tried to follow the instructions from README and to `apt-get install openssh-server`, but that resulting in a lot of `failed to fetch` errors.
Trying obvious things showed that such commands as `wget`, `curl` or `telnet` were not found. The best I could manage was a `ping`.

Did I do a

[2016-09-09 19:55] linas commented on #217
lxc works great in ubuntu. I would go through the basic lxc tutorials and make sure you've got the network configured for the thing.  No networking means no apt-get.

Also: please note: HEAD only works for ubuntu 14.04 so you want to load trusty 14.04 in the lxc container, not xenial 16.04.

[2016-09-09 19:57] linas commented on #217
closing, because this is not really a HEAD issue -- its some basic LXC setup issue. Perhaps the README should mention it, though.

[2016-09-09 19:57] #217 closed, assigned to nobody

[2016-09-10 14:47] StrangeTcy commented on #217
It turned out to be an issue with my host system (Ubuntu Xenial), not the system on the container being created (Ubuntu Trusty).

As for the `README`, in the `LXC Install, build and run directions.` section it explictily states
`lxc-create -t download -n my-hr-HEAD -- -d ubuntu -r trusty -a amd64`
which should dispel any doubts.

[2016-09-10 14:55] StrangeTcy opened #224 "Editing files"
`README`, in the `LXC Install, build and run directions.` section, suggests installing `openssh-server` and then running
`vi authorized_keys`
I never really learned to use `vi` and prefer text editors with a gui, like gedit.
I can install it from inside the container, but it'd seem I can't run i; it outputs errors when I try:

I think there're some pretty simple options to running `lxc` that can b

[2016-09-10 17:08] linas commented on #224
You can't get an x-windows display to the x-server until you install ssh. To install ssh, you need to add your key to the authorized keys file.  You can always just use redirection and work blindly: for example: `cat mykey.pub >> ~/.ssh/authorized_keys`

As a general rule, it would be very useful for you to learn how to use Linux -- and the Linux command line, in general. Having to use a GUI edito

[2016-09-13 01:41] StrangeTcy commented on #224
Agreed, generally.
But I admit to being scared off vi; I've heard about it by numerous people, and their accounts pretty much amounted to [this](http://www.thejach.com/imgs/vim_learning.jpg).

But I will try to learn it, now that I have such a need for it.

[2016-09-13 06:15] linas commented on #224
Heh. Well, according to that diagram, vi is the easiest of all to learn: after zero time, you can do everything.  Recall how a learning curve is graphed: amount of elapsed time runs along the x axis, and proficiency is the y axis.  So if you get very good, very quickly, then you get a curve like that for vi.    Compare that to the curve to visual studio -- after using it long enough, you become co

[2016-09-27 06:41] wenwei-dev opened #257 "Some errors from webui"
ERROR in ./application.js
Module not found: Error: Cannot resolve module 'backbone' in /home/hr/hansonrobotics/HEAD/src/webui/client
 @ ./application.js 1:0-57:2

ERROR in ./modules/performances/views/layout.js
Module not found: Error: Cannot resolve module 'backbone' in /home/hr/hansonrobotics/HEAD/src/webui/client/modules/performances/views
 @ ./modules/performances/views/layout.js 1:0-87:2

ERR

[2016-09-28 02:40] wenwei-dev commented on #257
No errors after `./hrtool -b`. Closing.

[2016-09-28 02:40] #257 closed, assigned to nobody

[2016-10-05 04:57] wenwei-dev opened #275 "Chrome speech recognition can't start"
The console outputs these:

robot: han
1.js:29 face enabled
1.js:204 starting speech recognition
1.js:204 Uncaught ReferenceError: ROSLIB is not defined(anonymous function) @ 1.js:204(anonymous function) @ 1.js:203_ @ 1.js:203o.onstart @ 1.js:203

[2016-10-05 05:27] #275 closed, assigned to nobody

[2016-10-06 09:09] vytasrgl opened #277 "Webui motor settings page can't open"
http://localhost:8000/#/admin/motors

robot: sophia5
1.js:28setting expression to: Neutral, intensity: 0
1.js:28pointing head:
1.js:28Object {yaw: 0, pitch: 0, roll: 0}
1.js:221 Uncaught TypeError: t.get(...) is not a functiona.Row.e.View.extend.makeCell @ 1.js:221a.Row.e.View.extend.initialize @ 1.js:221e.View @ 1.js:222i @ 1.js:222a.Body.e.View.extend.insertRow @ 1.js:221b @ 1.js:26v @ 1.js:26d

[2016-10-06 16:26] wenwei-dev commented on #277
@grebsle Since Vytas is on vacation, would you like to take a look? This is kind of urgent. I can't open motors to set the parameters. I will need it to change the mapping.

[2016-10-08 09:25] wenwei-dev commented on #277
Can someone fix this bug? Sorry, it's urgent.

[2016-10-09 05:35] wenwei-dev opened #283 "expressions are inconsistent"
Edit expression on WebUI, save it. Then set the same expression using basic_head_api, it's not the same look.

For example, go to http://localhost:8000/#/admin/expressions, click "VIS_Q-W", the expression is different as you run this command `rostopic pub -1 /sophia5/make_face_expr basic_head_api/MakeFaceExpr vis_Q-W 1`

This makes it impossible to edit the expression on WebUI.

[2016-10-10 04:55] wenwei-dev opened #285 "Enhancement: Multiple Timelines"
It would be nice to implement multiple timelines. Each timeline has the same control as it is right now.
It's like slider, you can jump back to any specific timeline, or you can play them sequentially.

So

| Run | Loop |
`--------------------------`

will become

| Run | Loop | `-----------------`
| Run | Loop | `-----------------`
| Run | Loop | `-----------------`
...
| Run | Loop | `----------

[2016-10-10 15:54] henrikldev commented on #277
https://github.com/hansonrobotics/HEAD/pull/289

[2016-10-12 14:34] vytasrgl commented on #283
This is likely depends on previous expression and also needs to see which motors are selected for the expressions.  Visime uses only lip motors so only those motors are driven and all same motors should be selected for all visimes

[2016-10-12 14:38] vytasrgl commented on #283
Same applies to expressions,  ideally all same motors should be selected for all expressions

[2016-10-25 09:42] #283 closed, assigned to nobody

[2016-10-25 09:42] #277 closed, assigned to nobody

[2016-10-25 09:55] vytasrgl commented on #204
The only thing i can think of is that one very slow machines if FPS < 5 it might be that more animations are queued up than blender can actually play so multiple commands being executed at same time.
Otherwise it might be that
Are there any external nodes that publish to /blender_api/setFaceTarget and what distance (x coordinate it publishes).
@demaris if behavior tree running and head is being mo

[2016-10-25 09:56] #201 closed, assigned to nobody

[2016-10-25 09:56] #154 closed, assigned to nobody

[2016-11-02 20:45] linas opened #324 "fatal error: Flandmark.h: No such file or directory"
After doing an `hrtool -U` and `hrtool -B`  I get the following error:
[code]

This container used to work before, without any problems.

[2016-11-03 06:53] wenwei-dev commented on #324
This is a dependency for cmt tracker. Please run `./hrtool -i` to install that and try again.

[2016-11-08 02:31] linas commented on #324
OK, trying that.

I notice that hrtool says this: `./octool -rdpv >/dev/null`  and `./octool -l >/dev/null` -- can these be changed to not pipe to dev null? It makes it hard to understand what the script is doing at that particular moment.

[2016-11-08 03:35] linas commented on #324
OK, that seemed to fix the bug

[2016-11-08 03:35] #324 closed, assigned to nobody

[2016-11-10 18:33] linas commented on #204
I have a brand-new graphics card now, will review.

[2016-11-16 09:39] bryantclcqq opened #343 "Error message of webui in web browser's console log"
Hi, all,

  I find the webui of the HEAD has some css problem, as I access HEAD in the Chrome Browser, it shows error message in the console log, as following:

1.js:206 Uncaught ReferenceError: specialCssClass is not defined
(anonymous function) @ 1.js:206
bt.extend.each @ 1.js:14
bt.fn.bt.each @ 1.js:14
t.fn.emoticonize @ 1.js:206
t.Message.r.ItemView.extend.onAttach @ 1.js:206
(anonymous functi

[2016-11-20 10:15] wenwei-dev commented on #224
It's HEAD irrelevant topic. Closing.

[2016-11-20 10:15] #224 closed, assigned to nobody

[2016-11-20 10:15] #206 closed, assigned to nobody

[2016-11-20 10:16] wenwei-dev commented on #205
Closing because Xenial is not supported.

[2016-11-20 10:16] #205 closed, assigned to nobody

[2016-11-20 10:18] wenwei-dev commented on #167
Looks like the installation was not finished. And it works after running ./install.sh, so closing.

[2016-11-20 10:18] #167 closed, assigned to nobody

[2016-11-20 10:18] #202 closed, assigned to nobody

[2016-11-23 01:49] wenwei-dev opened #349 "Can't save timeline after change sometimes"
Sometimes I edit the performance with webui's timeline editor, and click "SAVE", I don't see any changes to the file.

[2016-11-23 05:14] wenwei-dev opened #351 "Performance will disable the microphone after it's finished"
At the beginning the microphone is on, then when some performance is triggered, after its finished, the microphone gets disabled.

[2016-11-23 05:15] wenwei-dev opened #352 "Performance key words matching"
The keyword such as sing gets matched when the input is singularity. It should match the whole word not the letters.

[2016-11-24 09:12] wenwei-dev commented on #285
Seems there is some similar thing implemented. Thanks. Closing.

[2016-11-24 09:12] #285 closed, assigned to nobody

[2016-11-24 09:59] wenwei-dev opened #356 "Behavior is still running when it's in sleeping mode"

[2016-11-28 09:29] #352 closed, assigned to nobody

[2016-11-28 10:15] vytasrgl commented on #343
Should be fixed in latest master right now. Thanks for reporting.

[2016-11-28 10:15] #343 closed, assigned to nabux, vytasrgl

[2016-11-28 10:27] vytasrgl opened #360 "UI Layout Changes"
To make current UI more user friendly following needs to be fixed:
1. Gestures page needs to be removed. Puppeteering page should become standard home page for UI.
2. In pupeteering page: poses and animation sections should be moved to the bottom of their columns as they are rarely used.
3. Event Sequence part of performance editor shouldn't be shown as it provides minimal functionality at this mo

[2016-11-28 10:29] vytasrgl opened #361 "Performance naming"
Performance naming to be automatically incremented when creating new performances
Based on last performance and folder name.

[2016-11-28 10:34] vytasrgl opened #363 "Popup windows position"
Popup window position (for settings or reporting) should be lower than menu.
Also need to check different window sizes

[2016-11-28 10:47] vytasrgl commented on #349
Need more info to reproduce

[2016-11-29 07:46] vytasrgl opened #369 "Sliders in motors admin page"
While editing min, init, max motor positions sliders should appear and it should directly control motors, so feedback on the robot would be visible.

[2016-11-29 07:47] henrikldev commented on #361
https://github.com/hansonrobotics/HEAD/pull/368

[2016-11-29 07:56] vytasrgl commented on #369
ranges:
pololu motors: 500-2500
dynamixel: 0 - 4096

[2016-11-29 08:41] vytasrgl opened #370 "Settings popup"
1. Add performance option to pause behavior while running. Default selected.
2. Should only be one "Save" button in the settings dialog.

[2016-11-29 11:10] vytasrgl opened #373 "Admin settings cant set value to 0"
Settings page cant set value to 0

[2016-11-29 11:11] vytasrgl opened #374 "Remove select person area"
Remove select person from interaction and puppeteering UI

[2016-11-29 22:04] henrikldev commented on #351
https://github.com/hansonrobotics/HEAD/pull/375

[2016-11-30 03:14] vytasrgl commented on #373
Also cant uncheck the checkbox..

[2016-11-30 03:22] vytasrgl opened #377 "Settings node in timeline"
Timeline settings node mixes up views then changing the node.

[2016-11-30 15:34] henrikldev commented on #373
https://github.com/hansonrobotics/HEAD/pull/381

[2016-11-30 21:33] henrikldev commented on #377
https://github.com/hansonrobotics/HEAD/pull/382

[2016-12-01 02:05] #373 closed, assigned to nabux

[2016-12-01 02:05] #377 closed, assigned to nabux

[2016-12-01 02:20] vytasrgl opened #383 "Expressions and Gestures in Timeline editor"
Expressions and gestures settings do not work on timeline settings node and settings page

[2016-12-01 02:35] vytasrgl opened #384 "Timeline node overlapping"
Timeline nodes overlapping if shorter node falls inside the long node

[2016-12-01 02:36] #361 closed, assigned to nabux

[2016-12-01 02:36] #351 closed, assigned to nabux, vytasrgl

[2016-12-01 08:34] henrikldev commented on #383
https://github.com/hansonrobotics/HEAD/pull/385

[2016-12-01 08:49] #383 closed, assigned to nabux

[2016-12-01 08:53] henrikldev commented on #384
https://github.com/hansonrobotics/HEAD/pull/386

[2016-12-01 10:03] #384 closed, assigned to nabux

[2016-12-01 20:44] henrikldev commented on #360
https://github.com/hansonrobotics/HEAD/pull/387

[2016-12-02 03:35] vytasrgl commented on #360
@grebsle #3 still missing.
The top menu for pupeterring should be /#

[2016-12-04 12:31] henrikldev commented on #360
https://github.com/hansonrobotics/HEAD/pull/391

[2016-12-05 02:08] #360 closed, assigned to nabux

[2016-12-05 02:12] vytasrgl opened #392 "Settings grouping and order"
Settings in settings view to be grouped and ordered same way as in rqt.
See chatbot node.

[2016-12-06 18:43] henrikldev commented on #370
https://github.com/hansonrobotics/HEAD/pull/402

[2016-12-07 14:01] henrikldev commented on #374
https://github.com/hansonrobotics/HEAD/pull/407

[2016-12-07 14:07] henrikldev commented on #363
https://github.com/hansonrobotics/HEAD/pull/408

[2016-12-07 14:17] henrikldev commented on #392
https://github.com/hansonrobotics/HEAD/pull/409

[2016-12-08 05:38] vytasrgl commented on #370
Replace button with the checkbox. buttons should be used whenever some action is taken.

[2016-12-08 05:40] vytasrgl opened #410 "Motor ROS messages not published"
Sometimes admin motor settigns page doesn't publish messages to ROS topic.

[2016-12-08 06:01] vytasrgl opened #411 "Active performance piece, and controls in event sequence"
In readonly(playback mode):
The button of the piece currently should be highlighted.
In editor mode:
1. The sequence line should be highlighted.
2. (TBD) either of:
 a. Clicking on event sequence performance will move the performance marker to that specific performance.
 b. performance pieces  in event sequence has play button to start the queue from that specific point.
 c. a and b.
3. Duration l

[2016-12-08 06:36] vytasrgl opened #412 "Autopause"
Near the Loop button in playback we need to enable autopause button which would then later pause performance after each queued bit except last (after last bit performance should finish).
Autopause has to be managed in the backend too.

[2016-12-08 11:14] #392 closed, assigned to nabux

[2016-12-08 11:14] #374 closed, assigned to nabux

[2016-12-08 11:15] #363 closed, assigned to nabux

[2016-12-08 11:42] demaris opened #414 "JS error on timeline"
when click on node sometimes get error:
timelines.js:267Uncaught TypeError: Cannot read property 'showSettings' of undefined

[2016-12-08 11:52] vytasrgl opened #415 "Edit mode changes"
1. While not in edit mode hide the Name field with save button.
2. "Done" should ask if need to be changed (if any made) before closing the edit view (Yes, No, Cancel).
3. In "Edit" mode clicking on other performance should immediately start editing the new performance if no changes are made on current performance.

[2016-12-08 22:58] henrikldev commented on #415
https://github.com/hansonrobotics/HEAD/pull/416

[2016-12-09 02:20] vytasrgl commented on #415
1. Empty name field and save button  still visible (should be hidden). This was done to allow combine multiple performances however it seems its rarely used so can remove for now.
2. If changes are made on currently edited performance, and user tries to click on other performance or other tab or leave page popup should notify.
3. Edit mode should be triggered only by pressing edit button on sequen

[2016-12-09 03:18] #369 closed, assigned to nabux, vytasrgl

[2016-12-09 06:18] vytasrgl opened #418 "URL doesnt change"
After performance moved, url should change to current folder

[2016-12-09 06:23] vytasrgl opened #419 "Natural sort of performances"
Natural sort (slide1 < slide9 < slide10) of performances and their folders should be added and need to make sure it is updated once we editing.

[2016-12-09 07:54] henrikldev commented on #418
https://github.com/hansonrobotics/HEAD/pull/420

[2016-12-09 08:06] henrikldev commented on #415
1. The name input and save button already removed in puppeteering. Should it be hidden in performances page too?

3. "In "Edit" mode clicking on other performance should immediately start editing the new performance if no changes are made on current performance."
"Edit mode should be triggered only by pressing edit button on sequence. Will need to update."
These statements are conflicting each oth

[2016-12-09 08:22] vytasrgl commented on #415
Yes,  it should be hidden once no performance is being edited

On Dec 9, 2016 4:06 PM, "Henrikas Elsbergas" <notifications@github.com>
wrote:

[2016-12-12 08:08] henrikldev commented on #415
https://github.com/hansonrobotics/HEAD/pull/428

[2016-12-12 15:48] henrikldev commented on #419
https://github.com/hansonrobotics/HEAD/pull/430

[2016-12-14 01:20] henrikldev commented on #412
https://github.com/hansonrobotics/HEAD/pull/431

[2016-12-15 03:16] vytasrgl commented on #419
Natural sort should be used:
Something like: https://www.npmjs.com/package/javascript-natural-sort
I will merge current PR anyway as it improves functionality already.

[2016-12-15 03:17] vytasrgl commented on #419
Case insensitive sort should be used as well

[2016-12-15 03:30] #418 closed, assigned to nabux

[2016-12-15 03:45] #415 closed, assigned to nabux

[2016-12-15 04:44] demaris commented on #415
Thanks Vytas - as you noticed those things were a bit confusing for me.

[2016-12-15 08:19] vytasrgl opened #433 "Naming new performance rules"
**Empty(new) folder:**
{folder_name}_1
**Existing Folder**
{last_performance_name_part}_{last_performance_number_part + 1}
if last_performance_number_partnot exist:  {last_performance_name_part}_1
if last_performance_name_part: {last_performance_number_part + 1}

[2016-12-15 08:21] vytasrgl opened #434 "Creating new performance folder"
* Need to have OK button after performances folder name is entered
* Pressing OK button should go into the newly created folder

[2016-12-15 08:27] vytasrgl opened #435 "Performance description generation"
Generate descriptions of the performances and show them on event sequence part.
Descriptions should be shown by joining TTS nodes, and then cancating to whatever screen can show.
Descriptions should be shown in different style from performance names.

[2016-12-15 08:30] vytasrgl opened #436 "Hide Play for the empty folders"
Hide "Add All" / "Play all" for empty performance folders

[2016-12-16 06:23] vytasrgl opened #445 "Group settings"
In settings node and page the groups should be added similar to rqt.

[2016-12-16 08:09] vytasrgl opened #447 "Settings node in timeline"
Settings node in timeline editor should not update the actual settings until its executed

[2016-12-16 10:22] #447 closed, assigned to nabux, vytasrgl

[2016-12-19 20:31] henrikldev commented on #411
https://github.com/hansonrobotics/HEAD/pull/463/

[2016-12-20 17:17] henrikldev commented on #419
https://github.com/hansonrobotics/HEAD/pull/464

[2016-12-21 03:03] #412 closed, assigned to nabux

[2016-12-21 03:06] vytasrgl commented on #411
Duration seems to be still not fetched properly, and it makes the clicking on event sequence to go to wrong place on timeline.
Also clicking on first performance starts it, which is inconsistent

[2016-12-21 03:11] vytasrgl commented on #411
Actually, the issue with autopause that prevent starting the performance immediatly.

[2016-12-21 03:21] #419 closed, assigned to nabux

[2016-12-21 03:24] vytasrgl commented on #411
Keep in mind that Pause node is actually 0.1 seconds in timeline.

[2016-12-21 06:42] #410 closed, assigned to vytasrgl

[2016-12-21 08:00] vytasrgl opened #466 "toggle for multiple motors"
Toggle multiple motors in expressions/animations admin page is not working.

[2016-12-21 15:53] henrikldev commented on #433
https://github.com/hansonrobotics/HEAD/pull/469

[2016-12-22 07:39] vytasrgl commented on #433
last_performance name should be the name of performance that is last in the folder after natural sort.
Currently in some case if ther are  PG01 ...PG16 performances the new performance name is PG01 01 should be PG17

Also the following should be fixed:
1,2,3,10,A10 should result in "A11" name as its last performance after sort

[2016-12-23 02:34] vytasrgl commented on #433
after #473 the only issue i found for example: "Slide5" gets you next name as "Slide06" which when is not the last on the list.

[2016-12-23 02:56] vytasrgl commented on #433
Also since we do natural sort "01" is not necessary, better use 1 instead

[2016-12-28 18:36] henrikldev commented on #411
https://github.com/hansonrobotics/HEAD/pull/481

[2016-12-28 18:41] henrikldev commented on #433
https://github.com/hansonrobotics/HEAD/pull/481

[2016-12-28 20:55] henrikldev commented on #370
https://github.com/hansonrobotics/HEAD/pull/482

[2016-12-29 02:49] vytasrgl commented on #411
Duration label still 0 after performances added.
Please implement point 2C so the clicking on the performance in sequence only move marker, and if button is pressed than it would actually play performance.

[2016-12-29 02:52] vytasrgl opened #483 "Autopause delayed effect"
Autopause currently do not pause on the first break if it has been toggled while performance is running

[2016-12-29 03:01] vytasrgl commented on #370
By default should be On

[2016-12-29 20:06] henrikldev commented on #370
https://github.com/hansonrobotics/HEAD/pull/485

[2016-12-30 15:43] henrikldev commented on #411
Duration seems to be calculated properly, need more info to reproduce
https://github.com/hansonrobotics/HEAD/pull/492

[2017-01-02 06:32] vytasrgl opened #493 "Cant drag nodes after save"
After saving performance cant drag existing(saved) nodes.

[2017-01-02 06:32] #370 closed, assigned to nabux, vytasrgl

[2017-01-02 06:32] #433 closed, assigned to nabux

[2017-01-02 06:34] vytasrgl commented on #411
Reproduce:
1. "Clear All" perfromances
2. Refresh page with some performances in the current folder.
3. Press "Add All"

[2017-01-02 06:41] vytasrgl opened #494 "JS error"
Error in timeline editor while making new node.
tooltip.js:479 Uncaught TypeError: Cannot read property 'off' of null

[2017-01-02 06:57] vytasrgl opened #495 "Negative start time"
In timeline editor the start time can not be set to negative

[2017-01-03 16:13] vytasrgl commented on #411
In addition:
After moving the marker to specific place by clicking on event sequence the nodes with (0.00) start time wont be played after pressing resume button

[2017-01-03 16:30] vytasrgl opened #498 "Remove node button"
Remove node button not visible after dragging node onto timeline.

[2017-01-04 16:10] vytasrgl opened #502 "Head Tilt Node Fix"
Head Tilt node needs to have same orientation in fronend and backend.

[2017-01-04 16:13] vytasrgl opened #503 "Node Settings by name"
Poses animations and etc should be alphabetically sorted inside node settings

[2017-01-04 16:15] vytasrgl opened #504 "Toggle button style"
For toggle buttons style should be different for toggled state from the active and or mouse over style. Currently if button is active it is impossible to see if its on/off (for Autopause/loop and etc.)

[2017-01-04 16:23] vytasrgl opened #505 "TTS Length"
TTS Length should be updated once node is dragged on timeline. Currently if text entered first and element dragged, TTS length is not set correctly.

[2017-01-06 05:54] wenwei-dev opened #507 "Timeline editor doesn't release performance node after save"
When you edit the timeline, you can drag and modify the timeline nodes. But after you save it, you can't select or drag other nodes any more.

We should be able to continue to edit the timeline after save.

[2017-01-06 05:59] wenwei-dev commented on #507
Same as #493. Closing.

[2017-01-06 05:59] #507 closed, assigned to nobody

[2017-01-08 22:03] henrikldev commented on #493
https://github.com/hansonrobotics/HEAD/pull/508

[2017-01-09 15:12] henrikldev commented on #411
https://github.com/hansonrobotics/HEAD/pull/509

[2017-01-10 01:33] vytasrgl opened #510 "Node Setting ranges"
Multiple node setting ranges needs to be changed to allow better authoring of performances:
- Animation
  - speed (0.2 -2)
  - magnitude (0.2 -3). For magnitudes that are more than 1, multiple commands need to be sent with magnitudes that adds up to total: for example if magnitude is 2.5 two commands need to be sent with 1 magnitude and the additional with 0.5 magnitude.
- Speech
  - Speed (0.7 -

[2017-01-10 04:25] wenwei-dev opened #511 "Sort the performance nodes when saving to file"
It will be useful to sort the nodes by time, so people can cut and paste the nodes in the file easily.

[2017-01-10 05:08] #511 closed, assigned to nobody

[2017-01-10 12:13] henrikldev commented on #483
https://github.com/hansonrobotics/HEAD/pull/512

[2017-01-10 12:16] henrikldev commented on #495
https://github.com/hansonrobotics/HEAD/pull/513

[2017-01-10 15:52] #493 closed, assigned to nabux

[2017-01-10 15:52] #411 closed, assigned to nabux

[2017-01-10 15:57] vytasrgl commented on #495
Also node start time should be negative

[2017-01-10 17:50] henrikldev commented on #498
https://github.com/hansonrobotics/HEAD/pull/514

[2017-01-11 15:55] henrikldev commented on #466
https://github.com/hansonrobotics/HEAD/pull/520

[2017-01-11 15:58] henrikldev commented on #494
Cannot reproduce the issue

[2017-01-11 22:15] henrikldev commented on #510
https://github.com/hansonrobotics/HEAD/pull/521

[2017-01-11 22:20] henrikldev commented on #510
Wouldn't it be better to parse animation messages in their node and send multiple commands there in case magnitude is over 1? Because now it would have to be updated both in webui and performance runner

[2017-01-17 22:20] henrikldev commented on #435
https://github.com/hansonrobotics/HEAD/pull/527

[2017-01-18 17:59] henrikldev commented on #434
https://github.com/hansonrobotics/HEAD/pull/530

[2017-01-18 18:17] grebsle commented on #445
https://github.com/hansonrobotics/HEAD/pull/530

[2017-01-18 18:19] henrikldev commented on #436
https://github.com/hansonrobotics/HEAD/pull/530

[2017-01-23 08:15] vytasrgl opened #537 "Edit Mode"
In Performances page the Edit button should be visible on the right side of the screen on the playback buttons row.
Edit button should be enabled only then there is performance loaded and it is not running (Paused or stopped).
After clicking Edit button current active performance from sequence should be loaded for editing. In addition there should be previous and next buttons to load and next or p

[2017-01-23 13:27] vytasrgl commented on #466
Still doesnt work:
JS error:
motors.js:41 Uncaught TypeError: $(...).closest(...).nextUntil(...).andSelf is not a function

[2017-01-24 16:39] #435 closed, assigned to nabux

[2017-01-25 09:37] wenwei-dev opened #540 "Develop performance APIs"
As time goes, there is a large demand for such API that people can use to call any performance script by whatever identifier.

In the future we could use this API to deliver verbal+non-verbal response.

The APIs should be able to start/pause/resume/stop the performance.

They don't need to add to WebUI for now, but they should support HTTP request.

They may replace TTS API eventually.

[2017-02-01 20:07] henrikldev commented on #537
https://github.com/hansonrobotics/HEAD/pull/546

[2017-02-07 15:04] henrikldev commented on #445
https://github.com/hansonrobotics/HEAD/pull/548

[2017-02-09 20:51] henrikldev commented on #505
https://github.com/hansonrobotics/HEAD/pull/551

[2017-02-16 09:01] #483 closed, assigned to nabux

[2017-02-16 09:01] #510 closed, assigned to nabux

[2017-02-16 09:02] #505 closed, assigned to nabux

[2017-02-20 07:51] henrikldev commented on #503
https://github.com/hansonrobotics/private_ws/pull/279

[2017-02-20 09:58] henrikldev commented on #504
https://github.com/hansonrobotics/HEAD/pull/568

[2017-02-22 20:34] henrikldev opened #571 "Show current performance folder instead of "Performances" header"

[2017-02-22 21:09] henrikldev opened #572 "Change performance terminology and UX"
Rename performance folders to performances consisting of many timelines.

Remove performance buttons.
Add "Add New" button to event sequence section

[2017-02-23 21:28] henrikldev commented on #540
https://github.com/hansonrobotics/HEAD/pull/574

[2017-02-23 21:35] henrikldev commented on #571
https://github.com/hansonrobotics/HEAD/pull/575

[2017-02-24 10:50] pigfinite opened #576 "Build problems with hrtool"
Hello,

I'm having issues with building the Opencog repository correctly when using `./hrtool -B`. The problem appears to be with atomspace but I can't seem to fix it. During the compilation, I get these errors that pass by:

/home/ubuntu/hansonrobotics/opencog/atomspace/opencog/rule-engine/backwardchainer/BIT.cc:638:26: error: no matching function for call to ‘std::vector<opencog::AndBIT>::erase(

[2017-02-24 10:55] wenwei-dev commented on #576
From your description, it does seem some dependencies are missing. Could you please attach the output of terminal when you run `./hrtool -i`.

[2017-02-24 11:04] Narifix commented on #576
Here's my output file
[output.txt](https://github.com/hansonrobotics/HEAD/files/799083/output.txt)

[2017-02-24 11:54] Narifix commented on #576
Oops, my mistake. I think the output file I just posted didn't include everything from the terminal. I'm attaching the real one here.
[output.txt](https://github.com/hansonrobotics/HEAD/files/799187/output.txt)

[2017-02-24 12:11] pigfinite commented on #576
Here is the output from the terminal when running `./hrtool -i` (attached):
[output1.txt](https://github.com/hansonrobotics/HEAD/files/799226/output1.txt)

[2017-02-24 12:47] henrikldev commented on #502
https://github.com/hansonrobotics/HEAD/pull/577

[2017-03-01 10:30] wenwei-dev commented on #576
From what I see, all the dependencies are installed. There is an error about missing prim_type.h, but that shouldn't stop atomspace form compiling. The missing file should be in "/opt/hansonrobotics/include/sphinxbase/". Maybe because of your environment settings, the include path is not added to c compiler. That could explain why atomspace is not built.

[2017-03-01 20:28] linas commented on #576
Sorry for late reply, just saw this. Nil Geisweiller has been messing with
BIT and seems to have broken something. Maybe its fixed already.

Linas.

On Friday, February 24, 2017, Narifix <notifications@github.com> wrote:

[2017-03-01 20:35] linas commented on #576
Please update, I'm pretty sure it's fixed.

Nil

On 03/01/2017 10:28 PM, Linas Vepstas wrote:

[2017-03-06 14:33] henrikldev opened #586 "Display timeline folders as performances in the list"

[2017-03-06 14:35] henrikldev opened #587 "Change new performance button behavior"
Create a new performance (folder) with one timeline instead of a single timeline

[2017-03-06 14:36] henrikldev opened #588 "Create add timeline button"
Add this button next to the timeline queue, change timeline naming to numbers

[2017-03-06 14:57] henrikldev opened #589 "Change performance naming, saving and deleting behavior"
Apply these operations to the performance folder instead of a timeline

[2017-03-16 07:25] #502 closed, assigned to vytasrgl

[2017-03-16 07:26] #436 closed, assigned to nabux

[2017-03-16 07:26] #494 closed, assigned to nabux

[2017-03-16 07:26] #495 closed, assigned to nabux

[2017-03-16 07:26] #498 closed, assigned to nabux

[2017-03-16 07:26] #504 closed, assigned to nabux

[2017-03-16 07:26] #537 closed, assigned to nabux

[2017-03-16 07:26] #571 closed, assigned to nobody

[2017-03-30 06:47] eddiemonroe opened #618 "hrtool not building opencog/ros-behavior-scripting"
Perhaps this issue should be in the ros-behavior-scripting repo, not sure.

With a fresh install of HEAD stack (and "./hrtool -d"), ./dev.sh --oc gives an error when running btree-psi.scm in the cog tmux terminal:
"ERROR: no code for module (opencog movement)"

I believe this is due to ros-behavior-scripting not building and installing correctly.

./hrtool -B leads to error when attempting to buil

[2017-03-31 01:58] #434 closed, assigned to nabux

[2017-03-31 03:38] leungmanhin commented on #618
Maybe try doing `source /opt/ros/indigo/setup.bash` before building?

[2017-03-31 06:30] wenwei-dev commented on #618
From the error, catkin is not found. So I suggest you run ./hrtool -i to
make sure all the dependencies are installed.

On Fri, Mar 31, 2017 at 11:38 AM, leungmanhin <notifications@github.com>
wrote:

[2017-03-31 07:59] wenwei-dev opened #619 "Node settings can't scroll"
![can t scroll](https://cloud.githubusercontent.com/assets/543223/24541673/fcc5ead8-162a-11e7-8614-83b80469cf5a.png)

When too many nodes in the node list, it can't scroll down.

[2017-03-31 09:20] linas commented on #618
I also got the "catkin not found" error, and running setup.bash fixed it.

I think that the core issue is that, from now on out, the ros-behavior-scripting code should be built in the same ROS/catkin home/build directory as all the other hanson-robotics ROS nodes.  All the opencog code was removed, and all that's left are some ROS nodes and some messages.

[2017-03-31 16:44] eddiemonroe commented on #618
Running setup.bash fixed the build error for me as well.

But, I still get
  "ERROR: no code for module (opencog movement)"
when running dev.sh --oc

Looks like movement.scm (and webui.scm) are being installed in /scm/opecog/.
Should these be installed in /usr/local/share/opencog/scm/opencog/ instead?
Or alternatively /scm/opencog/ needs to be added to the scm load path?

[2017-03-31 21:54] linas commented on #618
that install path is wrong, it needs to be in usr/local  maybe the cmakefile has a typo in it?

[2017-04-01 07:10] linas commented on #618
I just tried fixing this now, but I couldn't -- I'm hoping that @wenwei-dev Wenwei can find a good solution.   Let me describe the problem, first, though:

The original issue was bug opencog/ros-behavior-scripting#162 -- that ros-behavior-scripting depended on ROS message types defined only in HEAD.   Until HEAD is modularized, the only solution  I could think of was to copy the message types into

[2017-04-01 07:13] linas commented on #618
One problem is that if one says `sudo make install`, then ROS tries to write crazy stuff into `/usr/local/` thus breaking the standard unix FHS.  ROS uses it's own, unique FHS that isn't compatible with unix.

[2017-04-03 05:08] wenwei-dev commented on #618
Yes, as you said, ROS has its own FHS. Unless you use standard cmake file,
there is no workaround. But then you have to find a complex way to compile
the ros messages.

So we should maybe put all the message types together as a single ROS
package called say hr_msgs, just like std_msgs. In this way, you just write
"from hr_msgs.msg import ChatMessage". Then the whole
ros-behavior-scripting package

[2017-04-03 07:07] linas commented on #618
But Wenwei, if you look at the cmake file, it is "standard" -- its a cut-n-paste of what the other ROS cmakefiles look like.   ... mostly.  But it has some bug, and I cannot spot the bug.

[2017-04-03 07:49] #586 closed, assigned to nobody

[2017-04-03 07:49] #587 closed, assigned to nobody

[2017-04-03 07:50] #588 closed, assigned to nobody

[2017-04-03 07:57] vytasrgl opened #625 "Performance Folder View"
Performance folder has to have settings (only in performance)
Rename new buttons to "New Folder" and "New Performance"

[2017-04-03 13:50] henrikldev commented on #466
https://github.com/hansonrobotics/HEAD/pull/630

[2017-04-03 20:33] henrikldev commented on #503
https://github.com/hansonrobotics/HEAD/pull/548

[2017-04-03 20:50] henrikldev commented on #625
https://github.com/hansonrobotics/HEAD/pull/631

[2017-04-04 07:07] vytasrgl opened #632 "Timeline Zoom"
Timeline should have zoom in and zoom out options.

[2017-04-04 07:08] vytasrgl opened #633 "Timeline indicator dragging"
Timeline indicator should be possible to drag easier for longer timeline, Currently in long timeline its hard to adjust the indicator as it always fixed to same point.

[2017-04-04 07:15] vytasrgl opened #634 "Edit button in performances"
Edit button do not appear if performance is automatically loaded and redirected to active performance

[2017-04-04 07:23] vytasrgl opened #635 "Stop performance then unloaded"
When pressed back button performance still running in the background

[2017-04-04 22:00] henrikldev commented on #635
https://github.com/hansonrobotics/HEAD/pull/636

[2017-04-04 23:54] henrikldev commented on #632
https://github.com/hansonrobotics/HEAD/pull/637

[2017-04-04 23:55] henrikldev commented on #633
https://github.com/hansonrobotics/HEAD/pull/637

[2017-04-05 01:54] vytasrgl commented on #619
Nodes menu should always visible (For full width version at least. Should still be workable on mobile)

[2017-04-05 02:03] vytasrgl commented on #625
I guess i havent wrote it clearly. Settings should be visible only in performance view, but all folders should have the settings menu because of two reasons:
Currently we have the random performance run if the folder is triggered by keyword.
Also Settings popup should allows to rename it.

[2017-04-05 02:10] vytasrgl commented on #619
Also can disable robot settings view for now

[2017-04-05 02:22] vytasrgl opened #638 "Settings view broken in timeline"
Settings view broken in timeline editor then no node is selected

[2017-04-05 02:41] wenwei-dev commented on #618
It's not "standard" cmake fille, because it uses some custom catkin functions and macros, such as "add_message_files". But it works if you pass CMAKE_INSTALL_PREFIX to cmake command. For example `cmake -DCMAKE_INSTALL_PREFIX=/usr/local/opencog -DDATADIR=/usr/local/opencog/data ..`.

I also think we should work out a common place to install ROS packages in the hanson-opencog environment, so that bo

[2017-04-05 02:59] vytasrgl commented on #638
https://github.com/hansonrobotics/HEAD/pull/639
Still needs to update the no node selected view

[2017-04-05 03:01] vytasrgl commented on #632
Replace the the Frames count with EDIT button, and use right side to have zoom in and zoom out controls.
Currently it is not obvious it is possible to zoom in/out

[2017-04-05 03:02] vytasrgl commented on #633
Still in the middle of the timeline there are no zone then moving indicator wont scroll the timeline.

[2017-04-05 03:02] #635 closed, assigned to nobody

[2017-04-05 03:05] #445 closed, assigned to nabux

[2017-04-05 06:31] vytasrgl opened #640 "Indicator outside the visible range"
When clicking between timelines the position of time indicator is outside visible range

[2017-04-05 08:49] linas commented on #618
So:

1) I just copied the cmakefile that is used in HEAD. So its the same thing here, as there.  If its broken here, then its broken there, too.

2) Asking for `-DCMAKE_INSTALL_PREFIX=` is patently absurd/broken.  The default install location is `/usr/local/` and there is only one reason whatsoever to over-ride this: for a distro, e.g. redhat, centos, ubuntu to change the prefix to `/usr/`.  Any o

[2017-04-05 09:22] wenwei-dev commented on #618
HEAD doesn't install ROS packages to `/usr/local`, and it doesn't need to. It builds packages in `devel`, and install them to `install` next to `devel`. That's why every time you need to `source xxx/devel/setup.bash`, this will setup the correct PATH and other env variables to include `devel`.

Before we don't build ros-behavior-scripting. We just add the path to PYTHONPATH the modules can be foun

[2017-04-05 09:26] wenwei-dev commented on #618
Specifying `-DCMAKE_INSTALL_PREFIX` can be avoid if you put it to CMakeLists.txt.

[2017-04-06 01:08] henrikldev commented on #625
https://github.com/hansonrobotics/HEAD/pull/645

[2017-04-06 01:22] henrikldev commented on #632
https://github.com/hansonrobotics/HEAD/pull/646

[2017-04-06 04:08] vytasrgl opened #647 "Animation length"
Animation length is not properly set once moved to timeline

[2017-04-06 17:35] henrikldev commented on #638
https://github.com/hansonrobotics/HEAD/pull/654

[2017-04-06 18:58] henrikldev commented on #619
https://github.com/hansonrobotics/HEAD/pull/655

[2017-04-10 01:15] #625 closed, assigned to nabux

[2017-04-10 01:27] vytasrgl opened #657 "Dynamixel driver"
Current updated dynamixel driver (on ROS PPPA) 0.4.1 have an issue with acceleration settings, need to further checking

[2017-04-10 01:50] #632 closed, assigned to nobody

[2017-04-10 01:51] #619 closed, assigned to nabux

[2017-04-10 02:32] vytasrgl commented on #638
Currently the values are not loaded for timeline settings view

[2017-04-10 04:49] wenwei-dev commented on #618
@linas I've created a ROS message package that contains all the current ROS message classes. It's a standalone package called hr_msgs (https://github.com/hansonrobotics/hr_msgs). It will be shared across other packages.

I've crafted a primitive management tool, which is going obsolete the current hrtool (I hope). You can use it to install hr_msgs by `hr install hr_msgs`. You can safely uninstall

[2017-04-10 16:02] henrikldev commented on #647
https://github.com/hansonrobotics/HEAD/pull/660

[2017-04-10 16:28] henrikldev commented on #634
https://github.com/hansonrobotics/HEAD/pull/661

[2017-04-10 18:12] henrikldev commented on #640
https://github.com/hansonrobotics/HEAD/pull/662

[2017-04-10 18:13] henrikldev commented on #633
https://github.com/hansonrobotics/HEAD/pull/662

[2017-04-11 07:21] vytasrgl opened #663 "Menu fix"
Currently Admin/User menu do not switch on page change without refresh

[2017-04-12 00:20] grebsle commented on #663
https://github.com/hansonrobotics/HEAD/compare/menu_fix?expand=1

[2017-04-12 00:21] grebsle commented on #663
https://github.com/hansonrobotics/HEAD/issues/663

[2017-04-12 00:21] henrikldev commented on #663
https://github.com/hansonrobotics/HEAD/pull/665

[2017-04-12 03:51] #663 closed, assigned to nobody

[2017-04-12 03:53] #647 closed, assigned to nobody

[2017-04-12 05:19] #640 closed, assigned to nobody

[2017-04-12 05:20] vytasrgl commented on #633
Still acts strange then clicking on the specific point or draging after its being moved

[2017-04-12 05:24] vytasrgl commented on #638
Values are still empty or 0.

[2017-04-12 05:25] #634 closed, assigned to nobody

[2017-04-12 05:26] vytasrgl opened #666 "Reconect to websocket"
Automatially try reconnect to the websocket and refresh or reload current page on success to make sure the latest UI  represent current state of the robot.

[2017-04-12 21:29] henrikldev commented on #633
https://github.com/hansonrobotics/HEAD/pull/667

[2017-04-12 21:56] henrikldev commented on #638
https://github.com/hansonrobotics/HEAD/pull/668

[2017-04-13 06:35] #633 closed, assigned to nobody

[2017-04-13 06:49] vytasrgl opened #669 "Configurable pupetteering layout"
Widget, grid based pupeteering layout for easier configuration of different release versions.
Current Pupeteering layout should have section that are currently with H2 header.
The layout could be saved to .cfg

[2017-04-13 06:50] vytasrgl opened #670 "Replace logo"

[2017-04-13 07:00] vytasrgl opened #671 "Home page mockup"
Mockup for entry page for UI.
Parts should onclude:
- Robot name
- Status for most critiical components (Hardware, internet, Chat)
- Any errors or warnings if exists
- Most used performances
- Favorite expressions and animations (shortlisted)

[2017-04-13 07:00] #638 closed, assigned to nabux

[2017-04-13 21:36] henrikldev commented on #503
https://github.com/hansonrobotics/HEAD/pull/676

[2017-04-13 22:24] henrikldev commented on #666
https://github.com/hansonrobotics/HEAD/pull/677

[2017-04-14 09:55] vytasrgl opened #678 "Error saving animations"
Cant save animations as request too large.
On admin/animations page while pressing Save Button it should save only Current Animation, or allow much longer requests.

[2017-04-15 04:04] vytasrgl commented on #678
Fixed in b3d368d

[2017-04-15 04:04] #678 closed, assigned to nobody

[2017-04-17 16:43] henrikldev commented on #670
https://github.com/hansonrobotics/HEAD/pull/680

[2017-04-18 04:03] #576 closed, assigned to nobody

[2017-04-20 00:10] henrikldev commented on #669
https://github.com/hansonrobotics/HEAD/pull/683

[2017-04-20 03:48] vytasrgl opened #684 "Timeline bugs"
- Back button returns should return to performance folder
- Autopause is broken again and plays the next node
- the file name should be the main name for the timeline. 'name attriobute in file should be ignored and not saved on new timeline files as it doesnt let copy paste files and rename them.

[2017-04-20 03:51] vytasrgl opened #685 "Settings page"
Settings page doesnt set the settings properly

[2017-04-24 04:55] wenwei-dev opened #688 "New motor settings UI proposal"
- Be able to select multiple motors or motor groups
Because it's often needed to adjust multiple motors at the same time. For example, you may want to adjust the values for both left and right eye brows.

- Be able to revert to original values
Sometimes people just want to undo the settings. We should keep at lease the original values so you can always to back to that.

- Be able to specify exactl

[2017-04-24 07:39] henrikldev commented on #684
https://github.com/hansonrobotics/HEAD/pull/689

[2017-04-24 09:07] henrikldev commented on #685
Cannot reproduce the issue

[2017-04-24 18:43] henrikldev commented on #671
https://github.com/hansonrobotics/HEAD/pull/690

[2017-04-26 14:54] henrikldev commented on #349
In case it happens again, make sure to check for errors in webui server log ("webui" tmux window)

[2017-04-26 15:11] henrikldev commented on #414
The issue seems to be resolved.

[2017-04-26 17:48] vytasrgl commented on #688
How do you imagine adjusting values for more than one motor at same time?
Currently values are reset if dialog is closed, but reset button might be ok to have,

[2017-04-26 17:49] vytasrgl opened #691 "Current timeline node after saving"
The current timeline is deselected when pressed save, thus continue editing makes duplicate entry.

[2017-04-26 17:59] vytasrgl opened #692 "Settings page and node issues"
1. Currently checkbox values are not loaded properly, and the settings are updated based on unloaded settings which may lead to udesirable settings changes.
2. On timeline editor only selected properties must be saved/and loaded from file.
3. After visiting settings page JS exception in hompage: layout.js:49 Uncaught TypeError: this.ui.navigation.multilevelpushmenu is not a function

[2017-04-26 18:00] vytasrgl commented on #692
URLS for nodes doesnt work  too

[2017-04-26 18:02] vytasrgl opened #693 "Preview in TTS"
Preview in TTS node on timeline editor so user can hear the speech output without playing the timeline

[2017-04-26 19:33] henrikldev commented on #692
https://github.com/hansonrobotics/HEAD/pull/694

[2017-04-26 22:58] vytasrgl opened #695 "Current timeline editing"
When press edit the current timiline from performance should be loaded for editing

[2017-04-28 02:58] wenwei-dev commented on #349
Can't reproduce. Closing.

[2017-04-28 02:58] #349 closed, assigned to nabux, vytasrgl

[2017-04-29 19:47] vytasrgl commented on #503
Changes behavior for the look_at node for attention regions. Label is saved to file instead of the key for attention regions

[2017-04-29 19:50] vytasrgl commented on #666
Error label is misleading. It should indicate its reconnecting

[2017-04-29 19:50] vytasrgl commented on #670
Only H icon should be visible.

[2017-04-30 08:34] henrikldev commented on #691
https://github.com/hansonrobotics/HEAD/pull/697

[2017-04-30 09:44] henrikldev commented on #695
https://github.com/hansonrobotics/HEAD/pull/698

[2017-04-30 10:04] henrikldev commented on #503
https://github.com/hansonrobotics/HEAD/pull/699

[2017-04-30 10:28] henrikldev commented on #666
https://github.com/hansonrobotics/HEAD/pull/700

[2017-04-30 10:31] henrikldev commented on #670
https://github.com/hansonrobotics/HEAD/pull/701

[2017-04-30 10:45] henrikldev commented on #693
https://github.com/hansonrobotics/HEAD/pull/702

[2017-05-03 10:49] wenwei-dev opened #705 "Timeline speech node editing"
Sometimes when you edit a speech node, a new speech node is created and added to timeline, but the old speech node is still there. So when this happens, the editing gets lost.

[2017-05-03 10:56] wenwei-dev commented on #705
This happens if you save the timeline and continue to edit it.

[2017-05-03 12:14] wenwei-dev opened #706 "Webui crashes"
[code]

[2017-05-04 03:11] wenwei-dev opened #708 "Btter to always show "previous" button"
It's better to show "PREVIOUS" button rather than to hide it when navigating the timelines. It will be smoother for user to click the save place for the save function.

[2017-05-04 03:35] eddiemonroe opened #709 "Relex throws exception running OpenCog chatbot/behavior tree"
On a fresh installation of HEAD, running

./dev.sh --oc

results in java.lang.IndexOutOfBoundsExceptions in the relex server.

This leads to "The Relex server seems to have crashed!" messages in and aborting of the OpenCog scripts in the "cog" and "tel" windows.

Here is the output from the "relex server" window:
[code]

[2017-05-04 04:02] leungmanhin commented on #709
The relex server crashes when parsing a sentence, looks like it's related to this: https://github.com/opencog/relex/commit/2c18f5a89cacdfd1e4a174652afd7c8089304270

[2017-05-04 08:31] vytasrgl commented on #692
1 still not fixed.

In addition in 2. Wrong current node schema is saved to file.

[2017-05-04 08:33] #685 closed, assigned to nabux

[2017-05-04 08:33] #684 closed, assigned to nabux

[2017-05-04 08:33] #414 closed, assigned to nobody

[2017-05-04 08:36] #691 closed, assigned to nobody

[2017-05-04 08:37] #695 closed, assigned to nobody

[2017-05-04 08:38] vytasrgl commented on #503
Doesnt sort the poses then

[2017-05-04 08:39] #670 closed, assigned to nobody

[2017-05-04 08:41] vytasrgl commented on #666
Model dialog should be used so it wont let people to make changes that may not be saved

[2017-05-04 08:43] vytasrgl commented on #693
Smaller button should be use. Right now it is actually biggest control on the page which is distracting

[2017-05-04 08:56] vytasrgl opened #710 "Duration in timeline editor"
Initial duration for the nodes dragged to timline editor is not set properly. For poses i get NaN and KF Animations does not set properly

[2017-05-04 09:22] vytasrgl commented on #705
Already fixed

[2017-05-04 09:22] #705 closed, assigned to nobody

[2017-05-04 09:23] vytasrgl commented on #708
Previous and Next button should be visible but disabled if not available

[2017-05-04 09:27] vytasrgl opened #711 "Moving Look At nodes"
While moving look_at and gaze_at with custom target on timeline editor, the target position is reset to neutral

[2017-05-04 09:30] vytasrgl opened #712 "Copy paste in timeline editor"
Allow to copy node by making right click menu for node (only copy, no cut for now).
Allow paste by clicking on timeline on specific time to insert copied node.

[2017-05-04 09:35] vytasrgl opened #713 "Multi select nodes"
Allow multi select nodes (on edit mode)  by pressing Ctrl and selecting multiple nodes.
While multiple nodes are selected:
only extend  copy/paste function  as in #712
Allow moving the nodes while maintaining exact same gaps.
Restrict moving earliest node below 0s.

[2017-05-04 09:36] vytasrgl commented on #712
Nodes can by copied and pasted between different timelines and different performances

[2017-05-04 10:27] vytasrgl opened #714 "Single timeline loaded in performance"
While in edit mode on performance editor. Single timeline is being loaded in performance. For puppeteering view its fine to show only single performance, but when opening performance window,m the full performance should be reloaded.

[2017-05-04 16:17] eddiemonroe commented on #709
Thanks @leungmanhin, I filed an issue in the relex repo. https://github.com/opencog/relex/issues/256

(reverting to previous commit in relex resolves the issue)

[2017-05-04 23:42] henrikldev commented on #710
https://github.com/hansonrobotics/HEAD/pull/715

[2017-05-05 09:24] henrikldev commented on #710
https://github.com/hansonrobotics/HEAD/pull/716

[2017-05-08 16:52] henrikldev commented on #692
https://github.com/hansonrobotics/HEAD/pull/717

[2017-05-08 17:11] henrikldev commented on #503
https://github.com/hansonrobotics/HEAD/pull/718

[2017-05-08 17:45] henrikldev commented on #711
https://github.com/hansonrobotics/HEAD/pull/719

[2017-05-09 02:33] #711 closed, assigned to nobody

[2017-05-09 02:34] vytasrgl opened #720 "Settings integer enum fields"
Settings view do not correctly shoiw integer enum values.

[2017-05-09 02:35] #710 closed, assigned to nobody

[2017-05-09 02:35] #692 closed, assigned to nobody

[2017-05-09 02:36] #503 closed, assigned to nabux

[2017-05-09 02:39] #666 closed, assigned to nobody

[2017-05-09 02:39] #466 closed, assigned to nabux

[2017-05-09 03:05] vytasrgl opened #721 "node_schema in timeline files"
For settings node the node_schema seems to contain the values that are same as the values of the same node.

[2017-05-10 19:50] henrikldev commented on #714
https://github.com/hansonrobotics/HEAD/pull/723

[2017-05-10 19:59] henrikldev commented on #721
https://github.com/hansonrobotics/HEAD/pull/724

[2017-05-10 20:05] henrikldev commented on #693
https://github.com/hansonrobotics/HEAD/pull/725

[2017-05-10 20:40] henrikldev commented on #708
https://github.com/hansonrobotics/HEAD/pull/726

[2017-05-11 08:55] leungmanhin commented on #709
I think this is fixed by https://github.com/opencog/relex/commit/301695ce024b7db150009b93d99f92299b30dbbe

[2017-05-12 04:33] wenwei-dev opened #727 "Save and load motor settings separately for body and head"
Save body motor settings to `robots_config/<name>/<body>`.
Save head motor settings to `robots_config/<name>` as usual.
`<body>` can get from rosparam `robot_body`
`<name>` can get from rosparam `robot_name`

[2017-05-12 23:36] vytasrgl commented on #714
After pressing edit in performances page, and then going to puppeteering, timelines list is shown empty while one timeline is loaded. It should list the current timeline or at least will be hidden to avoid confusion.

[2017-05-12 23:48] #721 closed, assigned to nobody

[2017-05-12 23:50] #693 closed, assigned to nobody

[2017-05-12 23:52] vytasrgl commented on #727
<body> should not be under any specific motor i think

[2017-05-12 23:52] #708 closed, assigned to nobody

[2017-05-16 00:43] henrikldev commented on #712
https://github.com/hansonrobotics/HEAD/pull/729

[2017-05-16 05:06] wenwei-dev opened #731 "Move settings out of admin sub-path"
The settings are supposed to used in run-time to control system. It's more often that this page needs to show.

[2017-05-17 08:48] wenwei-dev commented on #727
What do you mean? Did you mean under specific body? I agree on that.

[2017-05-18 10:10] wenwei-dev opened #732 "Motor mapping functions"
Rename imax, max, imax2, max2 on webui. These terms confuse users when editing the mapping functions. Add better documentation on mapping functions.

[2017-05-18 11:52] vytasrgl commented on #732
@wenwei-dev  any suggestions on what it could be renamed to?

[2017-05-18 12:10] wenwei-dev commented on #732
Hmm, I don't know. I just want to figure out.

Maybe max, min can be renamed to pau-max, pau-min because they seem to be
the values in pau?

On Thu, 18 May 2017 at 19:52, vytasrgl <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2017-05-22 21:11] henrikldev commented on #713
https://github.com/hansonrobotics/HEAD/pull/735

[2017-05-24 03:16] vytasrgl commented on #713
Moving is not implemented yet.

1. Current node should be treated as selected.
2. While in multiselect, editing of the node should be not allowed. Editing tabs might be hidden, and clicking on specific node type the nodes should be deselected.
3. Z-index of the current node is higher than context menu
4. If other node clicked without CTRL the previous selected nodes should be deselected.
5. When p

[2017-05-24 03:19] vytasrgl opened #736 "Timelines overwritten"
Currently creating 10th timeline may overwrite previous timeline without any warnings.
Having timelines overwritten without any notice like this signals that the design pattern may need to have been revised.

[2017-05-24 23:54] henrikldev commented on #714
https://github.com/hansonrobotics/HEAD/pull/738

[2017-05-25 02:39] henrikldev commented on #736
https://github.com/hansonrobotics/HEAD/pull/738

[2017-05-29 03:18] henrikldev commented on #713
https://github.com/hansonrobotics/HEAD/pull/739

[2017-05-29 06:12] #712 closed, assigned to nobody

[2017-05-29 06:12] #714 closed, assigned to nobody

[2017-05-29 06:13] #736 closed, assigned to nobody

[2017-05-29 06:15] vytasrgl commented on #713
Currently if i select single node, and copy it by dragging same node to another place in timeline from the node menu, the previous node is still selected and dragged new node start time is not updated based on the place you dropped in timeline but rather gets put into same place as previous

[2017-05-29 06:38] vytasrgl opened #740 "Keyboard shortcuts"
Timeline editor (edit mode):
Ctrl + A Select All nodes
Ctrl + C copy selected nodes), visual indication ("N node(s) copied")
Ctrl + V Paste at the current indicator time
Ctrl + S (save) (same visual indication)
Ctrl + D
Del - delete selected nodes
Space or Alt+a (Run/pause)
[ - previous timeline
] - next timeline

Save dialog:
Y - Yes
N - No
Esc (Cancel)

Playback (non-edit mode, also should be in

[2017-05-29 06:39] vytasrgl commented on #713
It is also broken when you try drag new element to timelien as it sets start time to 0.

[2017-05-29 06:48] vytasrgl opened #741 "Menu improvements"
Style:
Menu should have border.

Node menu extend to:
Copy,
Invert selection,
Delete

Current Paste menu should be visible on indicator row and indicator itself  and extend to:
Paste (disabled if nothing in clipbaord)
Select All
Select All to Left
Select All to Right

[2017-05-29 06:57] vytasrgl opened #742 "Better autosorting of timeline nodes menu"
Sort the nodes by type, and make each node type are on distinct lines, multiple lines per node.

Optionally the timeline lines might get slight colored background  if looks good.

[2017-06-01 02:07] henrikldev commented on #740
https://github.com/hansonrobotics/HEAD/pull/743

[2017-06-02 10:11] vytasrgl commented on #740
CTRL+D - Should be same as Done
CTRL+E - Should be same as Edit (for the perfromance page)

[2017-06-03 06:11] vytasrgl commented on #740
CTRL+P Enable autopause
CTRL+L Enable loop

[2017-06-04 06:42] wenwei-dev opened #745 "New way of ordering timelines"
Ordering timelines is currently alphabetical of the script file name. If you want to, for example, switch two files, you have to rename them.

A better way may simply be to have a meta control file that controls the order of timelines. Then the file name doesn't matter. You can also disable the timeline that shouldn't play for some events by just removing it from the control file.

[2017-06-07 02:02] henrikldev commented on #741
https://github.com/hansonrobotics/HEAD/pull/748

[2017-06-07 12:40] henrikldev commented on #740
https://github.com/hansonrobotics/HEAD/pull/749

[2017-06-07 13:23] henrikldev commented on #720
https://github.com/hansonrobotics/HEAD/pull/750

[2017-06-16 00:10] henrikldev commented on #742
https://github.com/hansonrobotics/HEAD/pull/752

[2017-06-21 17:02] vytasrgl commented on #745
Timelines can be sorted already in timeline editor.
Enabling disabling timelines for specific performance would be useful feature, and will be implemented in UI

[2017-06-21 17:02] #745 closed, assigned to nobody

[2017-06-21 17:02] #742 closed, assigned to nobody

[2017-06-21 17:04] vytasrgl commented on #740
CTRL+N should be "Add new"

[2017-06-21 17:06] vytasrgl commented on #741
menu doesn't show up on indicator row only for indicator itself.

[2017-06-21 17:12] vytasrgl opened #753 "Performances trigered by keyword or API"
Sometimes the performance triggered by the speech cant play properly, and or finish because of UI running on browser.
Also performances triggered by events on timeline Pause node are not correctly handled then UI is open, as there seems to be some callbacks from UI that breaks the flow.

[2017-06-21 17:13] #713 closed, assigned to nobody

[2017-06-21 17:19] vytasrgl opened #754 "Changing timeline order"
Changing timeline order, while editing performance allows some of performances to be overwritten or disappear.

[2017-06-21 17:25] vytasrgl commented on #720
It doesnt set proper initial value right now if the value is 0. It also doesnt change it since after change and refresh i see old value.

[2017-06-21 17:32] vytasrgl opened #755 "Enable/disable timelines in performance"
Enable/Disable timelines in performance.
On Performance queue allow enable/disable specific timelines.
Disabled timelines should not be rendered on the merged timeline, so after the change the view would need to be updated.
"enabled" property is optional in the timeline file and if its not present it means timeline is enabled. That ensures backward compatibility.

This will be exception for puppet

[2017-07-08 23:46] henrikldev commented on #754
https://github.com/hansonrobotics/HEAD/pull/768

[2017-07-12 17:34] archived-aft-bogus-german-visa-rejectio opened #773 "outdated readme (dev.sh no longer exists)"
Hi guys.

I followed the readme and tried the native build: I `wget` the source, used `hrtool` to get the dependencies and build it. But when I `cd` into `~/hansonrobotics/HEAD/scripts` I can't find `./dev.sh`.

Can anyone tell me how is `dev.sh` constructed? Or do I need to download it somewhere else?

[2017-07-13 04:27] ghost commented on #773
I just noticed that `./dev.sh` has been removed in an early May commit. So perhaps the readme should be updated for the latest commit wherein `./main.sh` is being used

[2017-07-13 06:30] wenwei-dev opened #774 "Settings error: node doesn't show"
I've made node cfg with groups. But it doesn't show. It prints the error to the console.

[code]

[2017-07-13 06:31] #732 closed, assigned to vytasrgl

[2017-07-13 07:38] wenwei-dev commented on #773
Yes, the readme fie is outdated. Please refer to https://github.com/hansonrobotics/hrtool for the installation of HEAD.

[2017-07-13 08:11] wenwei-dev commented on #774
It turns out the problem is in cfg file.

Closing.

[2017-07-13 08:11] #774 closed, assigned to nobody

[2017-07-25 09:17] henrikldev commented on #753
Unable to reproduce the issue. Need more info

[2017-07-25 19:01] henrikldev commented on #741
https://github.com/hansonrobotics/HEAD/pull/781

[2017-07-25 20:03] henrikldev commented on #740
https://github.com/hansonrobotics/HEAD/pull/782

[2017-07-25 20:34] henrikldev commented on #720
Cannot reproduce the issue. Need more details

[2017-07-25 23:15] vytasrgl opened #783 "Settings checkbox initial value"
Opening settings pages for specific nodes can reset some of the node settings, by not setting the value properly.

to reproduce can select chatbot node, select all checkboxes, and after page refresh some values will not be set.

[2017-07-25 23:16] vytasrgl opened #784 "Done Button"
Done Button in timeline editor doesnt work

[2017-07-25 23:17] #740 closed, assigned to nobody

[2017-07-25 23:18] #741 closed, assigned to nobody

[2017-07-25 23:19] #754 closed, assigned to nabux

[2017-07-25 23:19] #671 closed, assigned to nobody

[2017-07-25 23:25] vytasrgl commented on #753
try start two keyword triggered performances at same time

[2017-07-26 16:46] vytasrgl commented on #720
Will reopen if it comes up again

[2017-07-26 16:46] #720 closed, assigned to nobody

[2017-07-26 21:31] vytasrgl opened #785 "Filter animations by typing"
filter animations/poses by typing in timeline editor

[2017-07-27 19:02] henrikldev commented on #783
https://github.com/hansonrobotics/HEAD/pull/786

[2017-07-27 20:42] henrikldev commented on #753
Cannot start another performance (wake up) while the first (go to sleep) is still running no matter if UI is open or closed. Also sometimes the performance list starts to slide up and down multiple of times.

[2017-07-28 02:01] #783 closed, assigned to nabux

[2017-08-01 20:10] henrikldev commented on #753
The reason why a new performance cannot be played until the end of current performance is the behavior of wholeshow implementation:

perform() method raises an exception inside of try statement preventing new performance from running:
MachineError: "Can't trigger event perform from state performing!"

Need advise on how to refactor this.

[2017-08-01 20:13] vytasrgl commented on #753
its fine, and its made that way so wholeshow settings remain the same while
switching from perfoming state to performing state, doesnt require to
modify any chatbot settings or existing behavior settings

On Wed, Aug 2, 2017 at 4:10 AM Henrikas Elsbergas <notifications@github.com>
wrote:

[2017-08-07 06:36] wenwei-dev opened #790 "Keep nodes selected after you paste them"
It won't get lost or messed up with the existing nodes if the pasted nodes are still selected. You can move later them to the desired location without trying to pick them out.

[2017-08-08 07:08] amebel commented on #618
Resolved by https://github.com/hansonrobotics/hrtool/pull/1 and https://github.com/opencog/ros-behavior-scripting/pull/175

[2017-08-08 07:08] #618 closed, assigned to nobody

[2017-08-15 23:30] henrikldev commented on #753
https://github.com/hansonrobotics/HEAD/tree/runner_interrupts

Seems to be working well, but needs more testing and code cleaning.

[2017-08-17 19:33] vytasrgl opened #797 "motor configs fine tune"
Add keyboard shortcuts to fine tune the motor positions in motor config page:
"Right" -> +10
"Left" -> +10
"Shift Right" -> +1
"Shift Left" -> +1

[2017-08-18 00:36] henrikldev commented on #753
https://github.com/hansonrobotics/HEAD/pull/798

Interrupts seems to be working well for one level nesting, but fails on deeper levels.

[2017-08-24 09:24] wenwei-dev opened #800 "Smooth static expressions"
Is it possible to add a frame or speed parameter for `Expression` node in timeline editor?

[2017-08-25 12:23] henrikldev commented on #784
Cannot reproduce the issue

[2017-08-26 22:54] henrikldev commented on #785
https://github.com/hansonrobotics/HEAD/pull/801

[2017-08-27 03:08] henrikldev commented on #755
https://github.com/hansonrobotics/HEAD/pull/802

[2017-08-28 08:24] vytasrgl commented on #790
Select pasted nodes

[2017-08-28 08:37] vytasrgl commented on #755
it takes 2-3secs to update the view. Must be loading indicator for such actions

[2017-08-28 22:37] henrikldev commented on #790
https://github.com/hansonrobotics/HEAD/pull/804

[2017-08-29 02:31] vytasrgl opened #805 "Indication of current performance"
Timings of performances in UI are not synced with the timeline list then there is timelines disabled

[2017-08-29 03:53] wenwei-dev opened #806 "Deselect properties in settings node initially"
It's more common that only one or two properties are needed to change. For some nodes like tts_talker, there are more than 10 properties, so it's better to deselect them.

[2017-08-29 04:00] wenwei-dev opened #807 "Can't pass JSON in settings node property"
The string of property with {} can't be passed to ROS node.

[2017-08-29 04:05] vytasrgl commented on #807
which node you trying to pass that?

[2017-08-29 04:05] #753 closed, assigned to nabux

[2017-08-29 04:06] #785 closed, assigned to nobody

[2017-08-29 04:06] #784 closed, assigned to nabux

[2017-08-29 08:09] vytasrgl commented on #807
#808

[2017-08-29 08:09] #807 closed, assigned to nabux, vytasrgl

[2017-08-29 08:36] #790 closed, assigned to nobody

[2017-08-29 15:10] henrikldev commented on #805
https://github.com/hansonrobotics/HEAD/pull/810

[2017-08-30 17:48] henrikldev opened #811 "[closed]"

[2017-08-30 17:51] grebsle commented on #811
It seems entirely possible to create an android app based on current webui using https://crosswalk-project.org/documentation/android.html which promises support of newest chrome version.

It is also possible to extend jquery and backbone sync methods to use sockets instead of HTTP. I would estimate the amount of work to be around 20 hours.

[2017-08-30 18:19] henrikldev commented on #755
https://github.com/hansonrobotics/HEAD/pull/812

[2017-08-31 09:05] #811 closed, assigned to nobody

[2017-09-07 03:57] wenwei-dev commented on #800
Rejected. Closing.

[2017-09-07 03:57] #800 closed, assigned to nabux, vytasrgl

[2017-09-07 03:58] wenwei-dev commented on #132
Obsolete. Closing.

[2017-09-07 03:58] #132 closed, assigned to nobody

[2017-09-07 03:59] wenwei-dev commented on #98
Obsolete. Closing.

[2017-09-07 03:59] #98 closed, assigned to nobody

[2017-09-07 04:00] wenwei-dev commented on #121
Obsolete. Closing.

[2017-09-07 04:00] #121 closed, assigned to tesYolan, yantrabuddhi, natnaelargaw

[2017-09-07 04:02] #540 closed, assigned to nobody

[2018-01-16 21:10] deviousname opened #830 "[WARN] you are not in the dialout group"
When I get to the step:

cd ~/hansonrobotics/HEAD/scripts && ./main.sh robot

I get the following error:

[WARN] You are not in the "dialout" group
./main.sh: line 142: /opt/hansonrobotics/ros/setup.bash: No such file or directory.

[2018-01-17 05:27] wenwei-dev commented on #830
You will need to install hrtool first.

On Wed, Jan 17, 2018 at 5:10 AM, deviousname <notifications@github.com>
wrote:

[2018-01-17 12:25] deviousname opened #831 "How do I actually speak with the HEAD robot?"
I open the browser to 127.0.0.1:8000 and I can see the Hanson robotics menus, I can see the HEAD in blender, but when I type something in the chat, I get nothing in response. Am I missing something?

[2018-01-18 05:09] KineticIsEpic commented on #831
Personally I get this error during start-up:
[code]
Which prevents the chatbot script from running. Granted, I installed slightly differently ("new" hrtool in a Docker container), which brought up its own slew of issues. Check your terminal when you launch the package and see if you get an error similar to mine, if so there's probably a code issue.

[2018-01-24 10:00] wenwei-dev commented on #831
@KineticIsEpic This bug should have been fixed. Please update chatbot repo to the latest master branch and try again.

[2018-02-05 05:22] tim777z opened #832 "webui broken dependencies"
running: ~/hansonrobotics/HEAD/scripts/hrtool -B
returns
npm ERR! Error: No compatible version found: supermodel@'github:pathable/supermodel'
npm ERR! Valid install targets:
npm ERR! ["0.0.1"]
npm ERR!     at installTargetsError (/usr/share/npm/lib/cache.js:719:10)
npm ERR!     at /usr/share/npm/lib/cache.js:638:10
npm ERR!     at saved (/usr/share/npm/node_modules/npm-registry-client/lib/get.js:1

[2018-02-22 11:01] sameerthahir commented on #204
Hello, I am stuck with the same error.

Command Source 'ros' won't build
No Command Sources found.

Is there any update on a fix

[2018-03-15 08:23] elggem commented on #832
Try updating npm/node to newer versions, there have been issues under 14.04 with older versions.

[2018-03-15 08:35] tim777z commented on #832
Thank you, Yes, thats the best solution, but I'm having another issue as well, I will close this issue and open another one

[2018-03-15 08:35] #832 closed, assigned to nobody